Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: update ansible.md ff0b08acdb4390c014474eab3d10810b266e4b45
  docs/ansible.html
  index.html
Due: none

released v1.38.0 a4891cef29e5723779194684a3f6d0b00a56c53a
  index.html
Due: none

doc: Update README.md (#102) 1e6861847935dfc2086fff00864ad28b3c052e9e
  index.html
Due: none

doc: 修正 Python 清单中的机翻文本
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: 增补注释和示例，使用例更贴合本土
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: 更正修正中的错误
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: 配合 #385 将介绍中的链接也改为中文版
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: 更正 django 清单的链接
  CONTRIBUTING.md
  README.md
  assets/django.svg
  docs/django.md
  docs/quickreference.md
Due: npx markdownlint-cli --fix ./docs

Update README.md
  README.md
Due: none

Create upgit.yml
  .github/workflows/upgit.yml
Due: none

doc: Update README.md 7841be7bddc63f01bee4989151becb74b149b018
  index.html
Due: none

update linux system command
  docs/linux-command.md
Due: npx markdownlint-cli --fix ./docs

Update swiftui.md
  docs/swiftui.md
Due: npx markdownlint-cli --fix ./docs

doc: Update swiftui.md (#400) b22c815c29204a6b76bbf572c8cc484d8459f349
  docs/swiftui.html
  index.html
Due: none

doc: update docs/typescript.md 9fc8523762131deb5952ac1d9f9f61b9728612be
  data.js
  data.json
  docs/typescript.html
  index.html
Due: prettier --write

增加我的站点作为镜像
  README.md
Due: none

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
