Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

message
  README.md
  assets/conda.svg
  docs/conda.md
Due: npx markdownlint-cli --fix ./docs

doc: update conda.md (#341) (#83) 94f377ecd88f901326bdff7304a283dde39a5ef2
  data.js
  data.json
  docs/conda.html
  index.html
Due: prettier --write

doc: Update vim.md fix #342 6f6526218fcb72611338b63ada1e26db8fb71bb2
  docs/vim.html
  index.html
Due: none

Update mongodb.md
  docs/mongodb.md
Due: npx markdownlint-cli --fix ./docs

feat: add docs/gdb.md #87
  README.md
  assets/gdb.svg
  docs/gdb.md
Due: npx markdownlint-cli --fix ./docs

feat(cs.md): Fix logic
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

feat(cs.md): Fix show header in logic operator section.
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

fix(cs.md): the info from w3school is not correct.
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

chore: format docs/cs.md c0da5393f50b4175baf9f045bde865ab70a5ef9b
  data.js
  data.json
  docs/css.html
  index.html
Due: prettier --write

Update flask.md fix spelling mistake
  docs/flask.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/html.md 9efd75d65768e14fba97423cf30cc243f5858d5d
  data.js
  data.json
  docs/css.html
  docs/html.html
  index.html
Due: prettier --write

doc: update docs/html.md 3b33c3d9bcbc91886bc88b8ed86204da1af92948
  data.js
  data.json
  docs/css.html
  docs/html.html
  index.html
Due: prettier --write

doc: Update README.md #102 2e05f1307beb3ab84f278ff2d1e5c6956e47f051
  index.html
Due: none

doc: Update README.md #102 8bde7ad5dee235d75744a35e79575ee0f6c015ee
  index.html
Due: none

feat: add docs/pacman.md
  README.md
  docs/pacman.md
Due: npx markdownlint-cli --fix ./docs

update: update docs/golang.md
  README.md
  docs/golang.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
