Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

docs: 完善 chown 备忘清单
  README.md
  docs/chown.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 cmake 备忘清单
  README.md
  docs/cmake.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 yazi 备忘清单
  README.md
  docs/yazi.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 dotnet cli 备忘清单
  README.md
  docs/dotnet-cli.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 adb 备忘清单
  README.md
  docs/adb.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 adb 备忘清单 (#1040)
  README.md
  docs/adb.md
Due: npx markdownlint-cli --fix ./docs

chore: update mirror website. #102
  CONTRIBUTING.md
  README.md
Due: none

doc: update docs/adb.md #1040
  docs/adb.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/adb.md #1040 7cc3361ad315b6e55a9d42911760664b6891ce74
  data.js
  data.json
  docs/adb.html
  index.html
Due: prettier --write

docs: 完善 dotnet cli 备忘清单 (#1039)
  README.md
  docs/dotnet-cli.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 yazi 备忘清单 (#1038)
  README.md
  docs/yazi.md
Due: npx markdownlint-cli --fix ./docs

doc: Udpate docs/dotnet-cli.md #1039
  docs/dotnet-cli.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 yazi 备忘清单 (#1038) 5f97a68057d50127303d80821b84e01eaf4d0b21
  data.js
  data.json
  docs/yazi.html
  index.html
Due: prettier --write

doc: update docs/yazi.md #1038
  README.md
  docs/yazi.md
Due: npx markdownlint-cli --fix ./docs

doc: 完善 Chown 与 CMake 备忘清单 (#1037)
  README.md
  docs/chown.md
  docs/cmake.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/yazi.md #1038 3774460151b65b1db5a6d8b1e58f62166f8cfc2c
  data.js
  data.json
  docs/dotnet-cli.html
  docs/yazi.html
  index.html
Due: prettier --write

doc: 完善 Chown 与 CMake 备忘清单 (#1037)
  data.js
  data.json
  docs/chown.html
  docs/cmake.html
  index.html
Due: prettier --write

doc: update chown.md/cmake.md #1037
  docs/chown.md
Due: npx markdownlint-cli --fix ./docs

doc: update chown.md/cmake.md #1037 5a6a6f9c9a4b8a25a754cec12e467e3f6e1506ea
  data.js
  data.json
  docs/chown.html
  index.html
Due: prettier --write

doc: update docs/chown.md
  docs/chown.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/chown.md 173d1fc9df9cc49ad13aa6c142a14aeb4e3efe03
  data.js
  data.json
  docs/chown.html
  index.html
Due: prettier --write

doc: update README.md
  README.md
Due: none

doc: update README.md 54c328694a10003cd8ccfac02a6dfab232528de8
  data.js
  data.json
  index.html
Due: prettier --write

docs: 完善 htmx 备忘清单
  README.md
  docs/htmx.md
Due: npx markdownlint-cli --fix ./docs

docs: 添加 ai 工具总览
  README.md
  docs/ai-tools.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 django 备忘清单
  README.md
  docs/django.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 django 备忘清单 (#1044)
  README.md
  docs/django.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/django.md #1044
  docs/django.md
Due: npx markdownlint-cli --fix ./docs

docs: 添加 ai 工具总览 (#1043)
  README.md
  docs/ai-tools.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/django.md #1044 af5279b8736e299b51b0267f310b937c5db508c5
  data.js
  data.json
  docs/django.html
  index.html
Due: prettier --write

docs: 添加 ai 工具总览 (#1043) f61733e58112c8ee5c5477ca07bcdf2fd4b6b543
  data.js
  data.json
  docs/ai-tools.html
  index.html
Due: prettier --write

doc: update docs/ai-tools.md #1043
  docs/ai-tools.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 htmx 备忘清单 (#1042)
  README.md
  docs/htmx.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 htmx 备忘清单 (#1042) 406f7effb7d84680958200c777bf1d831d943a8b
  data.js
  data.json
  docs/htmx.html
  index.html
Due: prettier --write

doc: update docs/htmx.md #1042
  docs/htmx.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/htmx.md #1042 d162f3b2828ed8e35f8cbe759be212bb863a095a
  data.js
  data.json
  docs/htmx.html
  index.html
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
