Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: Update README.md (#102) 0f475095ade4b719cb1aeea324a1c2f1de37da79
  index.html
Due: none

Update docker.md
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/typescript.md b14257542f023c308ace6f5dfbaf3792683093f5
  data.js
  data.json
  docs/typescript.html
  index.html
Due: prettier --write

python 修正判断字符开头是startsWith方法
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

Update linux-command.md
  docs/linux-command.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md 759779932346e6f8bedb570b225bffe72885b741
  index.html
Due: none

doc: Update ci.yml 34f6bba4a156d079236deff6eda29acb7382151c
  index.html
Due: none

doc: Update gitlab-ci.md fba093f49502cc1ec805e559b7cc7d4796d082fb
  docs/gitlab-ci.html
  index.html
Due: none

add doc for pg_upgrade
  docs/postgres.md
Due: npx markdownlint-cli --fix ./docs

doc: Update feds.md f6cb68debfd7564457ffaead07af89780f9f844b
  docs/feds.html
  index.html
Due: none

doc: update docs/css.md ecb59d8980f3da31f547f4b4123d65ea395dd59c
  data.js
  data.json
  docs/css.html
  index.html
Due: prettier --write

Update typescript.md
  docs/typescript.md
Due: npx markdownlint-cli --fix ./docs

Add files via upload
  README.md
Due: none

doc: update docs/css.md 68b7bf36bb58b6ed78bfda18a227b8dd89dbac9f
  data.js
  data.json
  docs/css.html
  index.html
Due: prettier --write

Correct operator translation
  docs/github-actions.md
Due: npx markdownlint-cli --fix ./docs
