Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

docs: Add Three.js Cheat Sheet
  docs/threejs.md
Due: npx markdownlint-cli --fix ./docs

doc: update erlang.md #673 942f2c9563ad24b9afc692903e221051bea836e9
  data.js
  data.json
  docs/erlang.html
  index.html
Due: prettier --write

doc: add rxjs.md cheat sheet (#674)
  data.js
  data.json
  docs/rxjs.html
  index.html
Due: prettier --write

docs(erlang): update links and clean up markdown formatting
  docs/erlang.md
Due: npx markdownlint-cli --fix ./docs

feat: add stylex.md 222f5bc6040d0f63fb2df6cd4e7746412f1dcfa0
  data.js
  data.json
  docs/dart.html
  docs/hook.html
  docs/quickreference.html
  docs/regex.html
  docs/rxjs.html
  docs/stylex.html
  index.html
Due: prettier --write

released v1.44.0 229193a5847b671291c544cd4a8a60bb9ae15de5
  data.js
  data.json
  index.html
Due: prettier --write

chore: 调整网站名称
  README.md
Due: none

doc: update stylex.md 3e05d637d373cefd0feb992e39d889dec536f457
  data.js
  data.json
  docs/stylex.html
  index.html
Due: prettier --write

doc: Update README.md (#102) 34bf61c2fbe19f8b906b4ccf07d09fc287d7cf3b
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 031b7f1976b9a88820c0acfe19a50a81394bd162
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md aadda3d5c50f1fc6da9cb9d64a124eeb46fa736a
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update docs/json.md 8e9132f900cc4d8ae3dd95fbc775183455fa319f
  data.js
  data.json
  docs/json.html
  index.html
Due: prettier --write

Update vue.md
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs
