Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

released v1.25.0 8a5153365d2ba3ad560c92b8c48ef03547bbcacc
  index.html
Due: none

website: fix search page turning error. #32 13a6f7f4d506edcf8d12de79637d82985782684e
  index.html
  js/main.js
Due: none

doc: update README.md #161 b6007c1d3e3ea05254d38bd7721487da6cc03d79
  data.js
  data.json
  docs/styled-components.html
  index.html
Due: prettier --write

doc: update README.md #102 7a0f32bc43cf3e855ffb81fa085f50cdf2ba320b
  index.html
Due: none

doc: update README.md #102 aadf975ebf7716210fa5f6ab44eba2996456d397
  index.html
Due: none

website: custom nav menus. #102 ead5d35f44bb03776cccd933386badc8c7f70d9f
  index.html
  style/style.css
Due: prettier --write

doc: Update CONTRIBUTING.md #102. 8f76b470963df8e1706fd210e89ff9c8708102cf
  index.html
Due: none

feat: add laravel.md #166 696b09de4eb3b58cb1592cd18dc316a85bb7a668
  data.js
  data.json
  docs/laravel.html
  index.html
  js/main.js
Due: prettier --write

opti git.md
  docs/git.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md b35e2f10f0a82d53d27564defc7084f4242a64c8
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 49d650694ab1d49aad07780051001bc409da4740
  index.html
Due: none

feat: add oracle.md cheatsheet. #63 76c84362ba2a3dc919a397e4ff24882e937cdb2e
  data.js
  data.json
  docs/oracle.html
  index.html
Due: prettier --write

feat: update oracle.md. #63 de8a0bc0e98c516a77cdf31c028b8dc3e2852ca7
  data.js
  data.json
  docs/oracle.html
  index.html
Due: prettier --write

doc: update document. 7feb28b2397101dca385c3501effc9c96a04b63d
  data.js
  data.json
  docs/cs.html
  docs/html.html
  docs/java.html
  docs/json.html
  docs/php.html
  docs/python.html
  index.html
Due: prettier --write

chore: update workflows config. a0462db6cba8356e46a73c0ef671d44424a73612
  data.js
  data.json
  index.html
Due: prettier --write

chore: update workflows config. fc3431f2a7465cbabc5534a5ccab1fc0ac771762
  index.html
Due: none

doc: update workflows config. 20de7a63671443716b5584f6604d41a116d95883
  index.html
Due: none

released v1.26.0 d1e909fd9fbcd76342d77b10fd46ccc718b8c8ab
  index.html
Due: none

fix(nginx): fix typo
  docs/nginx.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
