Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update README.md #206 6d4ce812d0680c1432a5b9bf0ad43c89e8e20341
  CONTRIBUTORS.svg
  index.html
Due: none

doc: Update README.md (#263)
  index.html
Due: none

Update cs.md
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

doc: update cs.md (#266) cb7b542fb15f613b11aa44fdfb96c6ee5b9a374b
  docs/cs.html
  index.html
Due: none

doc: update cs.md (#266) e5e0160628294178655d7da21883e6b544351a6d
  data.js
  data.json
  docs/cs.html
  index.html
Due: prettier --write

chore(deps): update dependency markdownlint-cli to ^0.33.0 (#262)
  index.html
Due: none

add a new mirror
  README.md
Due: none

doc: Update README.md (#270) 489d7f509ec1151bc680c79069d2f49652a5713b
  CONTRIBUTORS.svg
  data.js
  data.json
  index.html
Due: prettier --write

add
  docs/javascript.md
Due: npx markdownlint-cli --fix ./docs

doc: update javascript.md (#271)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/javascript.html
  index.html
Due: prettier --write

fix(nextjs): useEffect typo
  docs/nextjs.md
Due: npx markdownlint-cli --fix ./docs

doc: update nextjs.md (#274) 6900980460590cc692f53a9373b9c4f433f092d3
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/nextjs.html
  index.html
Due: prettier --write

Update regex.md
  docs/regex.md
Due: npx markdownlint-cli --fix ./docs

doc: update javascript.md
  docs/javascript.md
Due: npx markdownlint-cli --fix ./docs

doc: update golang.md doc: update jquery.md
  docs/golang.md
  docs/jquery.md
Due: npx markdownlint-cli --fix ./docs

doc: update golang.md (#282)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/golang.html
  docs/javascript.html
  docs/jquery.html
  index.html
Due: prettier --write

doc: Update regex.md (#278) c356147d5f979f3751bbd71b898a83dd12e78289
  docs/regex.html
  index.html
Due: none

doc: Update regex.md (#277) dfaaee7ce591a926e21c137215873c2498b4e4da
  CONTRIBUTORS.svg
  docs/regex.html
  index.html
Due: none

doc: update golang.md (#282) 358d8f4e17281e3286ea7287f08c5c3143031e58
  CONTRIBUTORS.svg
  docs/golang.html
  index.html
Due: none

doc: update README.md 49b139409020726c76ea8f9890b42653bc4d7607
  CONTRIBUTORS.svg
  index.html
Due: none

Update docker.md
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

doc: Update docker.md (#292)
  CONTRIBUTORS.svg
  docs/docker.html
  index.html
  js/main.js
Due: none

doc: Update docker.md (#294)
  docs/docker.html
  index.html
Due: none

Update rust.md
  docs/rust.md
Due: npx markdownlint-cli --fix ./docs
