Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: fix error in regex.md 739697937d91d87dea7e92917589beb018fd49c1
  docs/regex.html
Due: none

website: update style. d796def71cb60e062794c550ae5d1afd7bee98ce
  docs/regex.html
  style/style.css
Due: prettier --write

fix: 修正选择器的真正含义
  docs/css.md
Due: npx markdownlint-cli --fix ./docs

fix: 修正选择器的真正含义 update css.md (#51) 82457e896e9bc4d1c8794b0e345a8fa703cae685
  CONTRIBUTORS.svg
  docs/css.html
Due: none

doc: update `typescript.md`. ef5a27f5a1bf416546240e92664cb5e3ea752f82
  docs/typescript.html
Due: none

doc: update `typescript.md`. 144f263ad0aec446b921b4743f39f93ad6383b4a
  docs/typescript.html
Due: none

typo: fix typo content in the vim
  docs/vim.md
Due: npx markdownlint-cli --fix ./docs

typo: fix typo content in the vim (#52) dcbdaea754e8e632ddc6fa7db4c18e2d3cd48835
  docs/vim.html
Due: none

content: add strcut and enum in the rust
  docs/rust.md
Due: npx markdownlint-cli --fix ./docs

update
  docs/rust.md
Due: npx markdownlint-cli --fix ./docs

content: add fliter in the ffmpeg
  docs/ffmpeg.md
Due: npx markdownlint-cli --fix ./docs

doc: add fliter in the ffmpeg (#56) 0917f70be8c82818ea2ec04e78268d1a7ef9b438
  docs/ffmpeg.html
Due: none

doc: update `quickreference.md`. 7dab833cb5547b43cb70f60da7cb35dba90c8cbf
  docs/quickreference.html
  index.html
Due: none

doc: update `ffmpeg.md` #56 45916503c1e431c9f166ee991587007ba66103fd
  docs/ffmpeg.html
Due: none

feat: add `php.md` #57 2d29bce40d7d2b41248d80cef7e2b48daaffe0d3
  docs/cron.html
  docs/php.html
  docs/postgres.html
  index.html
Due: none

doc: add strcut and enum in the rust (#53)
  docs/rust.html
  index.html
Due: none

feat: add `dart.md` #58 7dab4bc821fce23fa726f539a8465fa4207eded2
  docs/dart.html
  docs/python.html
  docs/quickreference.html
  index.html
Due: none

feat: add `latex.md` #47 304fca65aa7ee771d34884e03c95adfe1be3f286
  docs/latex.html
  docs/quickreference.html
  index.html
Due: none

style: optimize scrollbars style
  scripts/style/style.css
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
