Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

update: 更新.env
  .github/workflows/update-ref.yml
Due: none

doc: update docs/git.md be7348551652a6b5bcb3cfc6d08b230d0bcb40dc
  data.js
  data.json
  docs/curl.html
  docs/git.html
  index.html
Due: prettier --write

doc: update docs/git.md 8295db4b4ea955d9073ba1aa6b85c871704c2e46
  data.js
  data.json
  docs/git.html
  index.html
Due: prettier --write

doc: update docs/taskset.md 2f818808eb829f415b5c889d64a27da52e9faaa1
  data.js
  data.json
  docs/taskset.html
  index.html
Due: prettier --write

doc: update docs/mitmproxy.md fbd3a4fffa4450ac41bba295808b3ada2b575062
  data.js
  data.json
  docs/mitmproxy.html
  index.html
Due: prettier --write

feat: add docs/ejs.md 71fa3b3c26b7443d5e1be3a97563578926f80969
  data.js
  data.json
  docs/ejs.html
  index.html
Due: prettier --write

feat: add docs/ascii-code.md d9e86b555fd891f04eeee62f80fef8c608af189c
  data.js
  data.json
  docs/ascii-code.html
  docs/es6.html
  index.html
Due: prettier --write

update: 更新actions脚本
  .github/workflows/update-ref.yml
Due: none

update: 更新actions
  .github/workflows/update-ref.yml
Due: none

doc: update docs/toml.md 60588c52f372ba7d8cd80df128272af3752c9d90
  data.js
  data.json
  docs/linux-command.html
  docs/nestjs.html
  docs/quickreference.html
  docs/toml.html
  index.html
Due: prettier --write

docs: update docs/git.md
  docs/git.md
Due: npx markdownlint-cli --fix ./docs

Update conda.md
  docs/conda.md
Due: npx markdownlint-cli --fix ./docs

doc: update conda.md (#416) bcc6cb633549c36e54d3644cbe431515ea985353
  data.js
  data.json
  docs/conda.html
  index.html
Due: prettier --write

Update c.md
  docs/c.md
Due: npx markdownlint-cli --fix ./docs

doc: Update c.md (#418)
  docs/c.html
  index.html
Due: none

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
