Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

chore: update issue template. 9fe2674c6ce7390ee6d8cf139667d50b24352656
  index.html
Due: none

chore: update issue template. 76e8c1bdc675c24b86f600847def578c1c095f70
  index.html
Due: none

doc: update cpp.md #77 7fe648c1702dc2f949c090a7f7db97e02e6090c4
  docs/cpp.html
  index.html
Due: none

doc: update quickreference.md bce9b67afbd5a9db48fa52a80f6546e5c569fa80
  docs/git.html
  docs/quickreference.html
  index.html
  style/style.css
Due: prettier --write

released v1.22.0 599215755feefe81d5d230a08531f1d85563c513
  index.html
Due: none

chore: compress search data. #105 #32 d2b0a34e699816c01d173fd724d30fbc861c0a1c
  data.json
  index.html
Due: prettier --write

docs: add string to json array
  docs/jq.md
Due: npx markdownlint-cli --fix ./docs

docs: add string to json array (#114) 3263edca0eb5b5dfd60bf239f5d8b3163dd8ce1e
  data.json
  docs/jq.html
  index.html
Due: prettier --write

chore: format search data. #105 #32 7479c1045c11f8f4bb8641dc5ac5c64beb8c81c4
  data.json
  index.html
Due: prettier --write

update vue.md
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

website: fix search data error. #105 #32 764b55045d7b8e9ac08d64dcd22c853f669e546f
  CONTRIBUTORS.svg
  data.json
  index.html
Due: prettier --write

Added new Ansible tutorial
  docs/ansible.md
Due: npx markdownlint-cli --fix ./docs

doc: 补充vue3响应式高阶内容
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

doc: update ansible.md (#116) f9073adf32b669e63105e02d31d75c64a2a6781c
  docs/ansible.html
  index.html
Due: none

doc: update vue.md (#117) 8b48dd97c07ca185119800cd10d99188b9bb22b9
  CONTRIBUTORS.svg
  data.json
  docs/vue.html
  index.html
Due: prettier --write

添加希腊和希伯来字母
  docs/latex.md
Due: npx markdownlint-cli --fix ./docs

doc: Update latex.md 添加希腊和希伯来字母 (#119) b38129c1279644b20e8ac65b98db57f5e5a2654e
  CONTRIBUTORS.svg
  data.json
  docs/latex.html
  index.html
Due: prettier --write

docs(dockerfile):添加用于减小镜像体积的多阶段构建
  docs/dockerfile.md
Due: npx markdownlint-cli --fix ./docs

docs(dockerfile):添加用于减小镜像体积的多阶段构建 (#120) c6ac6dcf1140c8bccff90010fbde3215746238ca
  data.json
  docs/dockerfile.html
  index.html
Due: prettier --write

doc: Update dockerfile.md #120 61c3a6e528f705684cfaf4ed3cfe11c4ba916e10
  CONTRIBUTORS.svg
  data.json
  docs/dockerfile.html
  index.html
Due: prettier --write

docs(ansible): format docs
  docs/ansible.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
