Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update README.md #102 386bea869f256a7f07f5a9b26f0bc5a0d54f0a0a
  data.js
  data.json
  docs/gitlab-ci.html
  index.html
Due: prettier --write

doc: update .gitattributes f2fa503dda11679a1b88f6c779923166a9f6a0bd
  index.html
Due: none

doc: update .gitattributes 9d89966d1a88ca84cb9b55b56b65c500779e6eff
  index.html
Due: none

doc: update git.md 8980702cba2c9eb5cd31043c753511ca112279f2
  docs/git.html
  index.html
Due: none

doc: update .gitattributes e7f3a27a125a848859b87bf30b7d4e570a788c2d
  index.html
Due: none

chore(deps): update dependency refs-cli to ^0.0.10 (#177)
  index.html
Due: none

released v1.27.0 5b712256282483612bdca812ebb6be12c6f0f507
  data.js
  data.json
  docs/gitlab-ci.html
  index.html
Due: prettier --write

doc: match let
  docs/rust.md
Due: npx markdownlint-cli --fix ./docs

update
  docs/rust.md
Due: npx markdownlint-cli --fix ./docs

doc: update rust.md (#178)
  data.js
  data.json
  docs/rust.html
  index.html
Due: prettier --write

doc: update github-actions.md #170 fe7782a0c4ee1a932935677adf3eacd3debb5c21
  data.js
  data.json
  docs/github-actions.html
  index.html
Due: prettier --write

doc: update flutter.md
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

doc: update flutter.md (#179)
  data.js
  data.json
  docs/flutter.html
  index.html
Due: prettier --write

feat: add nextjs.md cheatsheet. 029e2751c41728f5894962c325e675d195a06ee4
  data.js
  data.json
  docs/nextjs.html
  index.html
Due: prettier --write

doc: update flutter.md #179 #58 d09737fcdace1458e01a860e8eb9037e68eedaf4
  docs/flutter.html
  index.html
Due: none

released v1.28.0 026dc585a89b476591ed7b881f04d6335e66dc28
  index.html
Due: none

Update ffmpeg.md
  docs/ffmpeg.md
Due: npx markdownlint-cli --fix ./docs

doc: Update ffmpeg.md (#180)
  data.js
  data.json
  docs/ffmpeg.html
  index.html
Due: prettier --write

doc: update rust option and result ...
  docs/rust.md
Due: npx markdownlint-cli --fix ./docs

doc: update rust.md (#181) (#20) 39fef5e8565d844cc38471a2d846d27c864e81a2
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/rust.html
  index.html
Due: prettier --write

fix: typo txt
  docs/webstorm.md
Due: npx markdownlint-cli --fix ./docs
