Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: format markdown. 5a4f7cdf37ef96ac11ec823bd6159ebb2958e914
  data.js
  data.json
  docs/docker-compose.html
  docs/wails.html
  index.html
Due: prettier --write

移除废弃的命令
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

标记 维护和废弃 的功能
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

已不属于docker命令，参考docker compose子命令用法。
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

search功能受限，但是还能用
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

修复文件名错误
  docs/docker-compose.md
Due: npx markdownlint-cli --fix ./docs

Update README.md
  README.md
Due: none

doc: add mirror site #102. (#999)
  README.md
Due: none

docs: update docker document. (#998)
  docs/docker-compose.md
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

chore: add sponsors.
  README.md
Due: none

doc: update document.
  README.md
  appicon/Warp-Github-LG-01.png
Due: none

doc: update document. 2c56431af6da08dd735562e999dcca3e83955b4e
  appicon/Warp-Github-LG-01.png
  data.js
  data.json
  index.html
Due: prettier --write

fix: fix website title.
  package.json
Due: prettier --write

feat: 增加 Netlify 一键部署
  README.md
  netlify.toml
Due: none

doc: Add one-click deployment to Netlify (#1001)
  README.md
  netlify.toml
Due: none

doc: update README.md #1001
  README.md
Due: none

doc: update README.md #1001 38a5603ffc1a4fb143036e0c22a901aed615ec42
  data.js
  data.json
  index.html
Due: prettier --write

doc:修改部署部分的样式，保持和其他部分一致
  README.md
Due: none

doc: update app icon.
  README.md
  appicon/copybook-generator.png
  appicon/daybar.png
  appicon/focus-cursor.png
  appicon/hosts-editor.png
  appicon/iconize-folder.png
  appicon/key-clicker.png
  appicon/menuist.png
  appicon/musicer.png
  appicon/npmd.png
  appicon/palette-genius.png
  appicon/paste-quick.png
  appicon/regex-mate.png
  appicon/rightmenu-master.png
  appicon/textsound-saver.png
  appicon/vidwall.png
  appicon/web-serve.png
Due: none

doc: update app icon. 86f24c07244d3aee525a262ae2577bb4fcbdbd27
  appicon/copybook-generator.png
  appicon/daybar.png
  appicon/focus-cursor.png
  appicon/hosts-editor.png
  appicon/iconize-folder.png
  appicon/key-clicker.png
  appicon/menuist.png
  appicon/musicer.png
  appicon/npmd.png
  appicon/palette-genius.png
  appicon/paste-quick.png
  appicon/regex-mate.png
  appicon/rightmenu-master.png
  appicon/textsound-saver.png
  appicon/vidwall.png
  appicon/web-serve.png
  data.js
  data.json
  index.html
Due: prettier --write

feat: add nix cheatsheet.
  README.md
  assets/nix.svg
  docs/nix.md
Due: npx markdownlint-cli --fix ./docs

chore: update sponsors.
  README.md
Due: none

feat: add claude #1008
  README.md
  assets/claude.svg
  docs/claude.md
  docs/quickreference.md
  package.json
Due: prettier --write, npx markdownlint-cli --fix ./docs

chore: update docs/docker.md
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

doc: update claude.md
  docs/claude.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/quickreference.md
  docs/quickreference.md
  package.json
Due: prettier --write, npx markdownlint-cli --fix ./docs

doc: Update README.md
  README.md
  appicon/vidcrop.png
Due: none

doc: update docs/javascript.md
  docs/javascript.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/javascript.md b4db543088b86e23f33bdf35f5f9db8d9fdbb7ea
  data.js
  data.json
  docs/javascript.html
  index.html
Due: prettier --write
