Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: update google-search.md
  README.md
  assets/google-search.svg
  docs/google-search.md
Due: npx markdownlint-cli --fix ./docs

feat: add Excel 函数
  README.md
  assets/excel-fn.svg
  docs/excel-fn.md
Due: npx markdownlint-cli --fix ./docs

feat: update docs/excel-fn.md
  docs/excel-fn.md
Due: npx markdownlint-cli --fix ./docs

feat: update git.md #1017
  docs/git.md
Due: npx markdownlint-cli --fix ./docs

Add docs/coreldraw.md
  README.md
  assets/coreldraw.svg
  docs/coreldraw.md
Due: npx markdownlint-cli --fix ./docs

released v1.48.0
  package.json
Due: prettier --write

更改了Adobe After Effects 快捷键，把MacOS键位改为Windows
  docs/adobe-ae.md
Due: npx markdownlint-cli --fix ./docs

doc: 更改了Adobe After Effects 快捷键，把MacOS键位改为Windows (#1031)
  docs/adobe-ae.md
Due: npx markdownlint-cli --fix ./docs

添加了 Adobe Premiere 键盘快捷键 备忘清单
  README.md
  assets/adobe-pr.svg
  docs/adobe-pr.md
Due: npx markdownlint-cli --fix ./docs

回调README.md然后重新添加Adobe Premiere 入口(Prettier搞的格式化)
  README.md
Due: none

doc: Adding Adobe Premiere Keyboard Shortcut (#1032)
  README.md
  assets/adobe-pr.svg
  docs/adobe-pr.md
Due: npx markdownlint-cli --fix ./docs

chore: updaste adobe-pr logo #1032
  assets/adobe-pr.svg
Due: none

Add docs/grok.md
  README.md
  assets/grok.svg
  docs/grok-cli.md
  docs/grok.md
Due: npx markdownlint-cli --fix ./docs

doc: reclassify content in README.md
  README.md
Due: none

doc: edit edit name
  README.md
Due: none

doc: Updating README.md (#1033)
  README.md
Due: none

doc: Update README.md
  README.md
Due: none

新建Adobe Illustrator 键盘快捷键 备忘清单
  README.md
  assets/adobe-illustrator.svg
  docs/adobe-illustrator.md
Due: npx markdownlint-cli --fix ./docs

完善内容
  docs/adobe-illustrator.md
Due: npx markdownlint-cli --fix ./docs

doc: Added Adobe Illustrator Keyboard ShortCut (#1034)
  README.md
  assets/adobe-illustrator.svg
  docs/adobe-illustrator.md
Due: npx markdownlint-cli --fix ./docs

doc: Update docs/adobe-illustrator.md #1034
  assets/adobe-illustrator.svg
  docs/adobe-illustrator.md
Due: npx markdownlint-cli --fix ./docs

doc: add mirror site #102.
  CONTRIBUTING.md
  README.md
Due: none

Update docflow.cn link with additional attributes
  README.md
Due: none

Update docflow.cn link with additional attributes (#1035)
  README.md
Due: none

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
