Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: Update README.md #102 e28914b3c7c1a2b7dc58a583d16be849f967f3d8
  data.js
  data.json
  index.html
Due: prettier --write

add glances
  README.md
  docs/glances.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/glances.md #659 #575 a0480a90dd0f0615e4cf2940bccece3e6208e9ce
  data.js
  data.json
  docs/glances.html
  index.html
Due: prettier --write

doc: update docs/glances.md #659 #575 10dfe119426b69d0ac5f6201d42cb54c12670204
  data.js
  data.json
  docs/glances.html
  index.html
Due: prettier --write

ci: update workflows config. 3b0416a2c3b1622a6c4ec75e068d2154d7b0d5e5
  data.js
  data.json
  index.html
Due: prettier --write

add vimium
  README.md
  docs/vimium.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/twitter.md ae490e878e81944bbfe05d32039b4ef98f8f662c
  data.js
  data.json
  docs/twitter.html
  index.html
Due: prettier --write

doc: Update README.md 7494981f5f41c53329cbe78576bd6d16eccfb5d5
  data.js
  data.json
  index.html
Due: prettier --write

Update lua.md
  docs/lua.md
Due: npx markdownlint-cli --fix ./docs

修正 adb.md 中的错误
  docs/adb.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/lua.md (#661)
  data.js
  data.json
  docs/lua.html
  index.html
Due: prettier --write

doc: update docs/adb.md (#662) d7008594f89c6f3ced2663e269c9759d4025ce89
  data.js
  data.json
  docs/adb.html
  index.html
Due: prettier --write

doc: Update README.md #102 fa2c86a964617b4182bdc792cf85238a56d6e5d3
  data.js
  data.json
  index.html
Due: prettier --write

add yazi
  README.md
  docs/yazi.md
Due: npx markdownlint-cli --fix ./docs

Feat: 增加国内镜像网站
  README.md
Due: none

feat: add springboot
  README.md
  assets/springboot.svg
  docs/springboot.md
Due: npx markdownlint-cli --fix ./docs
