Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

update: 增加 docker 的清除命令
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

doc: Update cs.md
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

feat: add docs/figma.md #567 88452a8b07d8bfd2b6ff1a6ad0156433eaad547c
  data.js
  data.json
  docs/figma.html
  index.html
Due: prettier --write

<update>[cs.md]: add subtitle `运算符和表达式`
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

doc: Update cs.md (#566)
  data.js
  data.json
  docs/cs.html
  index.html
Due: prettier --write

doc: update docs/cs.md #566 d59d128bd1ac559f52a5ad201d73e16b6fda2dc6
  data.js
  data.json
  docs/cs.html
  index.html
Due: prettier --write

Add files via upload
  .github/workflows/sync.yml
Due: none

doc: Update README.md (#102) 20b3a1969d2b1c5f320b264642763e97d2657843
  data.js
  data.json
  index.html
Due: prettier --write

feat: add `docs/phpstorm.md`. #571 359b81a44f17a4807d111f9d9554a4f7831d0a26
  data.js
  data.json
  docs/phpstorm.html
  index.html
Due: prettier --write

doc: Update README.md #102 36068c9ad32942be9500f66da1d1f97fb1f62e0d
  data.js
  data.json
  index.html
Due: prettier --write

Fix commands in emacs doc
  docs/emacs.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md #102 b77f29a1c24507c90c358e0fc2ef684eb43518a3
  data.js
  data.json
  index.html
Due: prettier --write

doc: update docs/nvm.md (#512) 8ce7714bca334fe2540b19688861dcbf078479f6
  data.js
  data.json
  docs/nvm-windows.html
  docs/nvm.html
  index.html
Due: prettier --write

doc: add docs/iso-3166-1.md #579 6f978c8df0cf955c601057579d1c96dd01777040
  data.js
  data.json
  docs/iso-3166-1.html
  docs/iso-639-1.html
  index.html
Due: prettier --write

doc: Add content related to simplified and traditional Chinese
  docs/iso-3166-1.md
Due: npx markdownlint-cli --fix ./docs

doc: alter number
  docs/iso-3166-1.md
Due: npx markdownlint-cli --fix ./docs

update: 新增thinkphp手册，待完善
  assets/thinkphp.svg
  docs/thinkphp.md
Due: npx markdownlint-cli --fix ./docs

Update docker.md
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

doc: Update docker.md (#582)
  data.js
  data.json
  docs/docker.html
  index.html
Due: prettier --write
