Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

Update oracle.md
  docs/oracle.md
Due: npx markdownlint-cli --fix ./docs

add android
  docs/tauri.md
Due: npx markdownlint-cli --fix ./docs

feat: add elasticsearch reference
  README.md
  assets/elasticsearch.svg
  docs/elasticsearch.md
Due: npx markdownlint-cli --fix ./docs

doc: update tauri.md 564ef54c1b44df301c6b04b7f124ebecac63cccc
  data.js
  data.json
  docs/elasticsearch.html
  docs/oracle.html
  index.html
Due: prettier --write

doc: Update vim.md fix #625 7fa1528be5b3410a6851962b885e8f8d7687c993
  data.js
  data.json
  docs/vim.html
  index.html
Due: prettier --write

update: 更新thinkphp文档
  README.md
  bun.lockb
  docs/thinkphp.md
Due: npx markdownlint-cli --fix ./docs

docs: update docs/java.md.
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

docs: update docs/java.md. (#628) c0b8eb4da770019d90492e1acc2f8874fda14017
  data.js
  data.json
  docs/java.html
  index.html
Due: prettier --write

更改了c#中集合的样式，之前显示出来有bug
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

Update figma.md
  docs/figma.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md (#102) aaf6d1669b4ef9dfb0706b90840d893423465cf0
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 bec51fa09f7224111be233033e2404448ff570b1
  data.js
  data.json
  index.html
Due: prettier --write

新增了Neo4j模块
  README.md
Due: none

新增了Neo4j模块
  assets/Neo4j.svg
  docs/Neo4j.md
Due: npx markdownlint-cli --fix ./docs

新增FastAPI中安全性章节的内容
  docs/fastapi.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
