Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: Update README.md #102
  README.md
Due: none

doc: Update README.md #102 596bff3f4a1d4caf6a7e71b1915ca0dd90762504
  data.js
  data.json
  index.html
Due: prettier --write

website: modify favicon. #840
  .refsrc.json
  icons/favicon.svg
  package.json
Due: prettier --write

website: add webpage icon. #840
  .github/workflows/ci.yml
  .refsrc.json
  icons/touch-icon-ipad-retina.png
  icons/touch-icon-ipad.png
  icons/touch-icon-iphone-retina.png
  package.json
Due: prettier --write

website: update touch-icon.
  .refsrc.json
  icons/touch-icon-iphone-retina.png
  icons/touch-icon-iphone.png
Due: prettier --write

Update springboot.md
  docs/springboot.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/springboot.md (#841)
  docs/springboot.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/springboot.md (#841)
  data.js
  data.json
  docs/springboot.html
  index.html
Due: prettier --write

fix: typo in postgres
  docs/postgres.md
Due: npx markdownlint-cli --fix ./docs

fix: typo in postgres (#842)
  docs/postgres.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/cpp.md
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/cpp.md 292551a8f272fc5fc308afc3f3d9711789c0cc04
  data.js
  data.json
  docs/cpp.html
  index.html
Due: prettier --write

feat:add powershell reference
  README.md
  assets/powershell.svg
  docs/powershell.md
Due: npx markdownlint-cli --fix ./docs

feat:add powershell reference (#845)
  README.md
  assets/powershell.svg
  docs/powershell.md
Due: npx markdownlint-cli --fix ./docs

feat:add powershell reference (#845) 2c6244b6f84d5268f6c11a12fb4040cbcc2ef7b5
  data.js
  data.json
  docs/powershell.html
  index.html
Due: prettier --write

doc: update docs/powershell.md #845
  docs/powershell.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/powershell.md #845 3662bb703c16bfa649b4041777c2f9b4d3d09260
  data.js
  data.json
  docs/powershell.html
  index.html
Due: prettier --write

doc: update docs/chatgpt.md
  README.md
  docs/chatgpt.md
Due: npx markdownlint-cli --fix ./docs

website: update powershell logo. #845
  README.md
  assets/powershell.svg
  docs/powershell.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/github-copilot.md
  README.md
  docs/github-copilot.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/github-copilot.md 8ae69f23860c1854a81aeceb81a6cc0bc0998fc4
  data.js
  data.json
  docs/chatgpt.html
  docs/github-copilot.html
  docs/powershell.html
  index.html
Due: prettier --write

doc: update docs/github-copilot.md
  docs/github-copilot.md
Due: npx markdownlint-cli --fix ./docs

doc: add docs/github-cli.md
  README.md
  assets/github-cli.svg
  docs/github-cli.md
Due: npx markdownlint-cli --fix ./docs

feat: add docs/canvas.md
  README.md
  assets/canvas.svg
  docs/canvas.md
  docs/quickreference.md
Due: npx markdownlint-cli --fix ./docs

feat: add docs/canvas.md ad2fd7b642242f0e5dc015ecc7a7aaede7df27d3
  data.js
  data.json
  docs/canvas.html
  docs/github-cli.html
  docs/github-copilot.html
  docs/quickreference.html
  index.html
Due: prettier --write

doc: Update README.md
  README.md
Due: none

doc: Update README.md 1f0fc6c9256a0dde89db2543ede5190e64a68f00
  data.js
  data.json
  index.html
Due: prettier --write

Update README.md
  README.md
Due: none

doc: Update README.md (#847) #102
  README.md
Due: none

feat: add sqlite reference
  README.md
  assets/sqlite.svg
  docs/sqlite.md
Due: npx markdownlint-cli --fix ./docs

feat: add sqlite reference (#848)
  README.md
  assets/sqlite.svg
  docs/sqlite.md
Due: npx markdownlint-cli --fix ./docs
