Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update docs/nginx.md
  docs/nginx.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md
  README.md
  appicon/vidwall-hub.png
Due: none

doc: Update README.md ca80b477fbaf3dea6181db44e200b48264e29fdb
  appicon/vidwall-hub.png
  data.js
  data.json
  docs/nginx.html
  index.html
Due: prettier --write

add net device doc
  README.md
  docs/cisco.md
  docs/huawei.md
Due: npx markdownlint-cli --fix ./docs

add huawei net device
  docs/huawei.md
Due: npx markdownlint-cli --fix ./docs

add cisco net device doc
  docs/cisco.md
Due: npx markdownlint-cli --fix ./docs

fix some wrong
  docs/cisco.md
  docs/huawei.md
Due: npx markdownlint-cli --fix ./docs

doc: add common Cisco and Huawei network device commands (#1011)
  README.md
  docs/cisco.md
  docs/huawei.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/huawei-devices.md (#1011)
  README.md
  docs/cisco-devices.md
  docs/huawei-devices.md
Due: npx markdownlint-cli --fix ./docs

doc: add mirror site #102.
  README.md
Due: none

doc: Update README.md
  README.md
Due: none

doc: Update README.md 29f1b64f4ac03dd815f940db1f9aa763796936e4
  data.js
  data.json
  docs/golang.html
  docs/twitter.html
  index.html
Due: prettier --write

feat: add Leaf
  README.md
  appicon/keyzer.png
  assets/leaf.svg
  docs/leaf.md
Due: npx markdownlint-cli --fix ./docs

released v1.47.0
  package.json
Due: prettier --write

released v1.47.0 c62670ddfd93bac2c23c7f8e0619ca32cb662b63
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update docs/leaf.md
  docs/leaf.md
Due: npx markdownlint-cli --fix ./docs

doc: Update docs/leaf.md 403e79bbf705ac53fe4b8e113cf26e86c409ca68
  data.js
  data.json
  docs/leaf.html
  index.html
Due: prettier --write

doc: update docs/leaf.md
  docs/leaf.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/leaf.md 3f1b8a15c47c04eedabbcbb790ad71de33e7669b
  data.js
  data.json
  docs/leaf.html
  index.html
Due: prettier --write

doc: add mirror site #102. fc493bdfc21976975132b054bf216b7b4f5cbb6f
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md
  README.md
  appicon/deskmark.png
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

申请添加一个镜像站~（每日更新）
  README.md
Due: none

Update glances.md
  docs/glances.md
Due: npx markdownlint-cli --fix ./docs
