Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: update typescript.md. a82f7b948e75d10f8d72fa74a8662884b9dfa3f8
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/typescript.html
  index.html
Due: prettier --write

add flask blueprint
  docs/flask.md
Due: npx markdownlint-cli --fix ./docs

doc: update flask.md (#228) (#223) e6d2a48410c45878b4d260d71a81a48e66a4d942
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/flask.html
  index.html
Due: prettier --write

新增 Java8 时间和日期工具类库
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: update java.md (#229) 5e284e6f14d7921dc30b666dc00fde168ee2b388
  CONTRIBUTORS.svg
  docs/java.html
  index.html
Due: none

feat: add feds.md cheatsheet. bfe5551acffc66128bea8d45da61dd553d4ee6c3
  data.js
  data.json
  docs/feds.html
  index.html
Due: prettier --write

fix: 修复部分翻译问题
  docs/vscode.md
Due: npx markdownlint-cli --fix ./docs

doc: update vscode.md (#230) 72766dfabe8c54e85bc36666dfbd1a2931345633
  data.js
  data.json
  docs/vscode.html
  index.html
Due: prettier --write

doc: update feds.md. 88f392c532aae23a79870fcb5f13906d8c8d388e
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/feds.html
  index.html
Due: prettier --write

feat: add reactrouter.md cheatsheet. bdf0dc17cd19663251980c14a81fe0137b21bd9c
  data.js
  data.json
  docs/reactrouter.html
  index.html
Due: prettier --write

docs: 修复部分翻译问题及新增阿里云Go Module代理仓库
  docs/golang.md
Due: npx markdownlint-cli --fix ./docs

docs: update golang.md (#231) d280013c315757dce57c9783bab481782a109da9
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/golang.html
  index.html
Due: prettier --write

doc: update lua.md. 8b151f891cbc3749a3e81f95af973060a5f30d13
  docs/lua.html
  index.html
Due: none

chore: support aarch64. #232 9945c1b16fe9832a26c023aff0125361cfa828fe
  index.html
Due: none

chore: support aarch64. #232 247cd4d4e6d2934f23cab590d98f2d80257dcc30
  data.js
  data.json
  index.html
Due: prettier --write

chore: support more platforms. #232 07aaae0e2bd8826359af0e1dce56f612b2aa9155
  data.js
  data.json
  index.html
Due: prettier --write

doc: clarify makefile searching rules
  docs/make.md
Due: npx markdownlint-cli --fix ./docs

doc: update make.md (#234) 01d238eaaba1b54ecfef474badf1bddf244ad104
  CONTRIBUTORS.svg
  docs/make.html
  index.html
Due: none

doc: update README.md.
  README.md
Due: none

doc: update README.md. (#235) 3fed079194803f28128476eabe1bc7073142b641
  CONTRIBUTORS.svg
  index.html
Due: none

feat: add adb.md cheatsheet. #233 f1200c67e1f90dc0534b7d0f94e8e04c65159964
  data.js
  data.json
  docs/adb.html
  docs/quickreference.html
  index.html
  style/style.css
Due: prettier --write

released v1.33.0 0c9fb086ee021d87138342020cf386025306f3ca
  index.html
Due: none

Update mysql.md
  docs/mysql.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
