Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update docs/zip.md (#319) 30999dcafca32529654513b0bbd459ec1c72bf81
  docs/zip.html
  index.html
Due: none

feat: add linux-command.md (#89,#286,#185,#289,#226) ea762bf8059b5a8a86097a5ec7d90f37bc116d19
  data.js
  data.json
  docs/linux-command.html
  index.html
Due: prettier --write

doc: update docs/linux-command.md (#89) 8f2117970b943defd0542bba20c9cbd24ecfeca3
  docs/linux-command.html
  index.html
Due: none

doc: update docs/typescript.md 881fd368c5adb781839db65c4914f867cbba47fa
  data.js
  data.json
  docs/typescript.html
  index.html
Due: prettier --write

chore: update Dockerfile 03b2ce120d74de08ae8b5085e8e08bde1fb827ed
  index.html
Due: none

doc: update docs/dockerfile.md 1ca1e49030eada4b39987801792fdc66a0260e8d
  docs/dockerfile.html
  index.html
Due: none

feat: add docs/scala.md (#326) 5c4075497e39c48c44ab4d389cac9db3d1296d6f
  data.js
  data.json
  docs/scala.html
  index.html
Due: prettier --write

chore: update workflows config. f3b8c65f73463cdc9a6c92a4ba1604e1b53d1025
  index.html
Due: none

doc: Update README.md 1eadc7748e20600c8a025ab0f8e955ff4ed9b244
  data.js
  data.json
  index.html
Due: prettier --write

新增Kotlin的高阶函数用法
  docs/kotlin.md
Due: npx markdownlint-cli --fix ./docs

add a new mirror
  README.md
Due: none

修改翻译错误
  docs/intelli-j-idea.md
Due: npx markdownlint-cli --fix ./docs

doc: Update feds.md e385350aaa6d221d0159f5b3fbfcdc5d74d41e6f
  docs/feds.html
  index.html
Due: none

Update java.md
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md #102 1d607ed3b5f4bf592444810998c1a7c15a0f1ff1
  index.html
Due: none

修正Flex中符号及FlutterLogo大小写错误
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/flutter.md (#339) e6f011d607c7d63f54243851095cd0b172232e62
  docs/flutter.html
  index.html
Due: none

移除不可用镜像站
  README.md
Due: none
