Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: update neo4j document #636 1a829ec4690d2c7ec22ad13e1a3fcfada4a446b7
  data.js
  data.json
  docs/java.html
  docs/neo4j.html
  index.html
Due: prettier --write

doc: update docs/fastapi.md 7c005d8e8a8ed75da448b51adc23d2ad5f0e5ec1
  data.js
  data.json
  docs/fastapi.html
  index.html
Due: prettier --write

update neo4j.md
  docs/neo4j.md
Due: npx markdownlint-cli --fix ./docs

Update cpp.md
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

update neo4j.md
  docs/mysql.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/cpp.md (#589)
  data.js
  data.json
  docs/cpp.html
  index.html
Due: prettier --write

doc: Delete docs/Neo4j.md 1df034e8464a8306d59066029f548b1d65347947
  data.js
  data.json
  docs/Neo4j.html
  index.html
Due: prettier --write

doc: Delete assets/Neo4j.svg d70b190edc965ed63289f5eca314e78f5b78643b
  data.js
  data.json
  index.html
Due: prettier --write

doc: update docs/cpp.md (#589) 70e94f5cc93477a51c1e11ff4e6210b3626bf356
  data.js
  data.json
  docs/cpp.html
  index.html
Due: prettier --write

doc: update README.md 1b1ad3453cb1005467d8c0b8f013e61d70f9a402
  data.js
  data.json
  index.html
Due: prettier --write

Update docker.md
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/docker.md #640 f24b08489ddbc1241b14debd459ff111814729df
  data.js
  data.json
  docs/docker.html
  index.html
Due: prettier --write

doc: update docs/neo4j.md 450d3d8f0e63ec8632544a37293d6b666a6080bf
  data.js
  data.json
  docs/neo4j.html
  index.html
Due: prettier --write

doc: update docs/neo4j.md fcda71cfd31f69ccb734aefb867cf4d2c3749cdc
  data.js
  data.json
  docs/neo4j.html
  index.html
Due: prettier --write

feat: add a ref site link
  README.md
Due: none

feat: add a ref site
  README.md
Due: none

released v1.43.0 c808475d59dafec9468ca99b7445a07383273105
  data.js
  data.json
  index.html
Due: prettier --write

feat: add docker-compose reference
  README.md
  assets/docker-compose.svg
  docs/docker-compose.md
Due: npx markdownlint-cli --fix ./docs

fix: alter note
  docs/docker-compose.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
