Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update docs/emoji.md 93f1b473afa8912212475256fcff9e7c89315e4c
  docs/emoji.html
  index.html
Due: none

doc: update docs/typescript.md f7b60c9a0966778255ad85f9b050864474366f4d
  docs/typescript.html
  index.html
Due: none

doc: Update README.md (#102) 3d1abf5035e1010a58328c0956f35c440ff77252
  index.html
Due: none

doc: update docs/ini.md
  docs/ini.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/typescript.md cfbe8ae4b862c71dad5552c985a4f6edf758e68c
  data.js
  data.json
  docs/typescript.html
  index.html
Due: prettier --write

doc: Update README.md 3cc761446ee7fafd0744c720299559374898e088
  index.html
Due: none

chore: update .dockerignore. fix #380 3451e3b0556c6738876d2ae36b21ab1e86ec2354
  data.js
  data.json
  index.html
Due: prettier --write

Update google-chrome.md
  docs/google-chrome.md
Due: npx markdownlint-cli --fix ./docs

将PHP、Python、YAML的“Learn X in Y minutes”链接替换成中文版本
  docs/php.md
  docs/python.md
  docs/yaml.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md 4039d6f04c327febe781c4517c4422292b43797a
  index.html
Due: none

doc: Update cs.md
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

doc: update cs.md
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

更换已备案域名
  README.md
Due: none

doc: 添加 Python 类型标注
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

Update ansible.md
  docs/ansible.md
Due: npx markdownlint-cli --fix ./docs
