Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: Update lua.md fix #956
  docs/lua.md
Due: npx markdownlint-cli --fix ./docs

doc: Update lua.md fix #956 95da603a7406c54be99d631ef8e8b87c1c85919b
  data.js
  data.json
  docs/lua.html
  index.html
Due: prettier --write

chore: update README.md
  README.md
  appicon/audioer.png
Due: none

feat: add zed cheatsheet.
  README.md
  assets/zed.svg
  docs/zed.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/zed.md
  docs/zed.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/zed.md e4dda9a41aa454b4cfd8fd2beed102afc08ff8cb
  data.js
  data.json
  docs/zed.html
  index.html
Due: prettier --write

doc: docs/chatgpt.md
  docs/chatgpt.md
Due: npx markdownlint-cli --fix ./docs

doc: docs/chatgpt.md 0cb2ec73cc4b78c12f64c7fda1cafebf36884421
  data.js
  data.json
  docs/chatgpt.html
  index.html
Due: prettier --write

Update vue.md
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

doc: Update vue.md (#962)
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md #102
  README.md
Due: none

doc: Update README.md #102 d37f9c6442cfdb771c8bcdd7153d2e7709567bf5
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md
  README.md
Due: none

doc: Update README.md 3301d5a7ee8261c95e490fb2d87ff0298162b045
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md c2454acd73c501ddfcb05beb4373086ca4f0ab94
  data.js
  data.json
  index.html
Due: prettier --write

chore: update sponsorship info.
  README.md
  appicon/musicer.png
Due: none

chore: update sponsorship info. fb3e277fed7544ba1e09dace6b5482729fee8775
  appicon/musicer.png
  data.js
  data.json
  index.html
Due: prettier --write

feat: add pip.md #83 #964
  README.md
  docs/pip.md
  package.json
Due: prettier --write, npx markdownlint-cli --fix ./docs

doc: update docs/pip.md
  docs/pip.md
Due: npx markdownlint-cli --fix ./docs

ci: update workflows config.
  .github/workflows/ci.yml
Due: none

doc: update docs/mysql.md #940
  docs/mysql.md
Due: npx markdownlint-cli --fix ./docs

feat: add .NET CLI fix #945
  README.md
  docs/dotnet-cli.md
Due: npx markdownlint-cli --fix ./docs

feat: add .NET CLI fix #945 7650bbac4063528e696e565f1febda8c7494dd10
  data.js
  data.json
  docs/dotnet-cli.html
  index.html
Due: prettier --write

doc: update docs/dotnet-cli.md #945
  docs/dotnet-cli.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/dotnet-cli.md #945 e0b540d1744a52e9db44b24ee5a9e76a01a5961c
  data.js
  data.json
  docs/dotnet-cli.html
  index.html
Due: prettier --write

doc: update README.md
  README.md
Due: none

doc: update README.md 35777215789d72639a2e4477729c3468f2fa0810
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md 007394b051ebeef7e65aeee22a569b9e82e4d54a
  data.js
  data.json
  index.html
Due: prettier --write

doc: update docs/yazi.md
  docs/yazi.md
Due: npx markdownlint-cli --fix ./docs

doc: update README.md #102
  README.md
Due: none
