Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update docs/linux-command.md #491 e1fad67e7535495d47d29093b85deba0071758c5
  data.js
  data.json
  docs/linux-command.html
  docs/quickreference.html
  index.html
Due: prettier --write

doc: update docs/kotlin.md b935a351654d10a93195d3218218537bb1800d34
  data.js
  data.json
  docs/kotlin.html
  index.html
Due: prettier --write

doc: update docs/docker.md de761617794f7e42cd5e2622df47b07fec85eeb4
  data.js
  data.json
  docs/docker.html
  index.html
Due: prettier --write

Update README.md
  README.md
Due: none

doc: Update README.md #102 3bdcc831c426b78e3cd596dd1941f6d9ccfa5ddf
  data.js
  data.json
  index.html
Due: prettier --write

add ulimit config of nginx
  docs/nginx.md
Due: npx markdownlint-cli --fix ./docs

minor
  docs/nginx.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/nginx.md #493 7663e0aa72bbbf17aa3348a7718517d6ba485f96
  data.js
  data.json
  docs/nginx.html
  index.html
Due: prettier --write

doc: Update README.md (#102) 6d6ee93d7cf8ca9038d00bc5b99b687f3265a1e8
  data.js
  data.json
  index.html
Due: prettier --write

add wdft.com mirror
  README.md
Due: none

修改我在contributing.md的镜像链接
  CONTRIBUTING.md
Due: none

chown备忘清单
  README.md
  assets/chown.svg
  docs/chown.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md 532cb88cf0980769bdf9972a1c35526f1574415b
  data.js
  data.json
  index.html
Due: prettier --write

fix: markdown.md格式排版问题修复
  docs/markdown.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md (#102) fd88141567cdfa47fd7273be02d74f4f3424a82b
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md 943657812305a0058007feba5b77531a5359c93c
  data.js
  data.json
  index.html
Due: prettier --write
