Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["markdownlint-cli --fix ./docs"]
}

chore: fix markdown file automatically (#41)
  .lintstagedrc
  .markdownlint.json
  package.json
Due: prettier --write

fix: Fix markdown lint command error. (#40 #41)
  .lintstagedrc
  package.json
Due: prettier --write

update: fix markdown
  .markdownlintignore
  docs/docker.md
  docs/golang.md
  docs/python.md
  docs/swift.md
  docs/toml.md
Due: markdownlint-cli --fix ./docs

update: fix cron problems
  docs/cron.md
Due: markdownlint-cli --fix ./docs

update: delete .markdownlintignore
  .markdownlintignore
Due: none

update
  docs/emmet.md
Due: markdownlint-cli --fix ./docs

chore: add tab -> 4 space
  .editorconfig
  .markdownlint.json
Due: prettier --write

chore: fix tab -> 2 in the .editorconfig
  .editorconfig
Due: none

chore: format markdown code. (#42)
  docs/c.html
  docs/colors-named.html
  docs/css.html
  docs/djiango.html
  docs/docker.html
  docs/electron.html
  docs/emmet.html
  docs/expressjs.html
  docs/git.html
  docs/golang.html
  docs/grep.html
  docs/html.html
  docs/htop.html
  docs/java.html
  docs/javascript.html
  docs/koajs.html
  docs/lsof.html
  docs/markdown.html
  docs/mysql.html
  docs/nginx.html
  docs/package.json.html
  docs/python.html
  docs/quickreference.html
  docs/react.html
  docs/regex.html
  docs/semver.html
  docs/stylus.html
  docs/swift.html
  docs/swiftui.html
  docs/toml.html
  docs/vscode.html
  docs/vue2.html
  docs/yaml.html
Due: none

feat: add `graphql.md`. b3c47e2b2d00237a223bcb0f3522eacd2f0c06d9
  docs/graphql.html
  index.html
Due: none

content: add about ffmpeg's content
  CONTRIBUTING.md
  docs/ffmpeg.md
Due: markdownlint-cli --fix ./docs

update
  docs/ffmpeg.md
Due: markdownlint-cli --fix ./docs

doc: add about ffmpeg's content (#45)
  docs/ffmpeg.html
Due: none

doc: update `ffmpeg.md` (#18) (#45) a38f6d8f85031919cf8166973b1ed6e3e2bab6c8
  docs/ffmpeg.html
Due: none

content: add exports in the package.json
  docs/package.json.md
Due: markdownlint-cli --fix ./docs

doc: add exports in the package.json (#46) 906cbdd1523014beb0bb3c54475d2c54f1046a07
  docs/package.json.html
Due: none

doc: update `package.json.md`. (#46) c4694ed8322c36a86e43350f56ae44d7eb54b04c
  docs/package.json.html
Due: none

doc: update `package.json.md`. (#46) 7a22e7cda26f4ad842d47f3583245b070d8c5710
  docs/npm.html
  docs/package.json.html
Due: none

content: add vec and fix some errors in the rust
  docs/rust.md
Due: markdownlint-cli --fix ./docs

doc: add vec and fix some errors in the rust (#48) 2d4a9604cff93a06180047a3e31cd805f20dd2f6
  docs/rust.html
Due: none

doc: update `rust.md` #48 72d3bd8d42aa64fbdfbaf8c6fc966bb3c0262254
  docs/rust.html
Due: none

content: add some content in the rust
  docs/rust.md
Due: markdownlint-cli --fix ./docs

doc: add some content in the rust.md (#50) 5677612d9dca4dd3d548e36f99bb2f172014e564
  docs/rust.html
Due: none

doc: update rust.md #50 #49 4ce6660ca82f4402d1d7db53599bac34ed6af5d5
  docs/rust.html
Due: none
