Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update css.md
  docs/css.md
Due: npx markdownlint-cli --fix ./docs

docs: update vue.md (#130)
  CONTRIBUTORS.svg
  data.json
  docs/vue.html
  index.html
Due: prettier --write

docs: update css.md (#132)
  CONTRIBUTORS.svg
  data.json
  docs/css.html
  index.html
Due: prettier --write

doc: write lua.md
  README.md
  docs/lua.md
  scripts/assets/lua.svg
Due: npx markdownlint-cli --fix ./docs

update
  docs/lua.md
Due: npx markdownlint-cli --fix ./docs

增加Pytorch备忘清单
  README.md
  docs/pytorch.md
Due: npx markdownlint-cli --fix ./docs

添加 tar 命令的备忘录，同时添加了相应的图标
  README.md
  docs/tar.md
  scripts/assets/tar.svg
Due: npx markdownlint-cli --fix ./docs

docs: 新增[响应式样式]
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

docs: update vue.md (#136) e096c08a2c2e0125597911469a4917164af835a2
  CONTRIBUTORS.svg
  data.json
  docs/vue.html
  index.html
Due: prettier --write

feat: add tar.md (#134) c0c47f3c3d89157393e383ff67d9c87a6b9f04ca
  CONTRIBUTORS.svg
  data.json
  docs/tar.html
  index.html
Due: prettier --write

Update swift.md
  docs/swift.md
Due: npx markdownlint-cli --fix ./docs

feat: add lua.md (#133)
  data.json
  docs/lua.html
  index.html
Due: prettier --write

doc: Update swift.md (#137) 7f3a01ab23a41a81cd0bfe08380b3b87c663a89a
  docs/swift.html
  index.html
Due: none

feat: add pytorch.md (#138) 29df8a3f721cfaf9576048beec3eb577a4ebc7af
  CONTRIBUTORS.svg
  data.json
  docs/pytorch.html
  index.html
Due: prettier --write

doc: update css.md b3a11fcbe06f37d04d48f5408374f82aa95009e1
  data.json
  docs/lua.html
  docs/pytorch.html
  index.html
Due: prettier --write

doc: update tar.md #134 48dc6076aac955555e21e8c2643296f29364249e
  CONTRIBUTORS.svg
  docs/tar.html
  index.html
Due: none

doc: update lua logo. #133 4dfc55800cc29bdab515652ac45bc50fabc4200f
  CONTRIBUTORS.svg
  docs/lua.html
  index.html
Due: none

released v1.23.0 81271ed70d3e4ce2d93da87c2f71e68ec3955d3c
  index.html
Due: none

doc: update README.md 1bf9bec6f563a4c6b9f366cb48b7c6c31ed070a9
  index.html
Due: none

feat: add sysdig.md #113 e0afdef6ec6f4c3fda2baf2c98f9fa0d36da163d
  data.json
  docs/sysdig.html
  index.html
Due: prettier --write

doc: continue to erite lua.md
  docs/lua.md
Due: npx markdownlint-cli --fix ./docs

doc: update lua.md (#139) (#62) 7ea215d50f4e9c4bdc9ca3925f713180bdf7aba3
  CONTRIBUTORS.svg
  data.json
  docs/lua.html
  index.html
Due: prettier --write

doc: update typescript.md. d52cce7e1c68200c48e5d613a9540f9ce837e605
  data.json
  docs/typescript.html
  index.html
Due: prettier --write
