Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: update docs/nginx.md. (#446) b717b1c67f4c11ac559095f83573313d9dbe2766
  docs/nginx.html
  index.html
Due: none

doc: update docs/nginx.md. (#446) be3818f8186862e14ac7cb53a13aa23a2a64b935
  docs/nginx.html
  index.html
Due: none

add doc for ruby bundle lock
  docs/ruby.md
Due: npx markdownlint-cli --fix ./docs

add doc for pyenv & pipenv
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/feds.md 36d2ad88a63490551a778f6998619e96fb47d777
  docs/feds.html
  index.html
Due: none

released v1.40.0 c51e52b5c5914a14fc511d9a2f8f94930c38dc0f
  index.html
Due: none

ci: update workflows config. f11a3bf99e97060eda470f2116700ea92dfa8298
  index.html
Due: none

ci: update workflows config. c993ed32288aba034c1a47ee042690cd00dc0aad
  index.html
Due: none

doc: Update README.md (#102) a7f85c5268849a74ff1ff0fd887fc6c1f84e70bb
  index.html
Due: none

Update linux-command.md
  docs/linux-command.md
Due: npx markdownlint-cli --fix ./docs

released v1.41.0 1bdd1afdd32e5a24285fb96a02c33f4c3120bc21
  data.js
  data.json
  index.html
Due: prettier --write

ci: update workflows config. 9c7c381849dc311ccf572c2d8017484085c27640
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md 6c0c6508ab22947781e9202e50cea9d5060f66da
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 4b8567131f895009e377eff8d0feae982c605857
  data.js
  data.json
  index.html
Due: prettier --write

doc: update content of git.md
  docs/git.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
