Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: update docker.md, dockerfile.md (#219) 545e7021382301c06cc124c88a7b0afd2ff9b1ba
  docs/docker.html
  docs/dockerfile.html
  index.html
Due: none

feat: add tailwindcss.md cheatsheet. 8b2c227f73ec9f39dee2b82ad51a6f902a00f981
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/systemd.html
  docs/tailwindcss.html
  index.html
Due: prettier --write

doc: update css.md 9a2cbcd3590ee39c3dbe0af03d55719726e4b07f
  data.js
  data.json
  docs/css.html
  index.html
  style/style.css
Due: prettier --write

chore: update workflows config. cb9af579f07075dd3263692d8eee1acf62cbf1b9
  README.md
  index.html
  style/style.css
Due: prettier --write

chore: update workflows config. 2af557fa2878ffc499f1bf22aee98fbab694bab0
  README.md
  index.html
Due: none

chore: update workflows config. a442108e0f41ccc086d3637aa91970def4a79849
  README.md
  index.html
Due: none

doc: update bash.md c0641d289808c48b1d5a44fb24c7ed618b271ec8
  data.js
  data.json
  docs/bash.html
  index.html
Due: prettier --write

doc: update flutter.md
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

doc: update flutter.md (#220) f123f3144910019b17c441d2027f6eb56f9e0318
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/flutter.html
  index.html
  style/style.css
Due: prettier --write

更改我的镜像站点的显示格式
  README.md
Due: none

新增转义符号解释
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: update react-native.md 3d0d2947a03108f5e42dea5f4414a3110b43fff8
  docs/react-native.html
  index.html
Due: none

doc: update python.md (#221) 3964c0c301e74b00e88102da25d18c509e2de39f
  data.js
  data.json
  docs/python.html
  index.html
Due: prettier --write

docs: add Flask
  README.md
  assets/flask.svg
  docs/flask.md
Due: npx markdownlint-cli --fix ./docs

feat: add flask.md cheatsheet (#222) 470ccb53115938c056c78e85225f47060d6f9e12
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/flask.html
  index.html
Due: prettier --write

doc: update flask.md #223 89fddf6b6fb1486b0ab225a133e72a3963c11383
  data.js
  data.json
  docs/ffmpeg.html
  docs/flask.html
  index.html
Due: prettier --write

doc: update htmx.md 150a9bc9434f48061c2fc9e07fbe3aa350bde006
  data.js
  data.json
  docs/htmx.html
  index.html
Due: prettier --write

doc: update react-native.md ab795d65aa34a37f7280fd4b1fbfc133f6f865cb
  data.js
  data.json
  docs/react-native.html
  index.html
Due: prettier --write

released v1.32.0 0f18fbac08fe49a104083dd26e8412d1ad330491
  data.js
  data.json
  index.html
Due: prettier --write

doc: update flask logo. e781a3b20e8c28a81e3147f3e4bed1ca9e4f7962
  docs/flask.html
  index.html
Due: none

chore: update script. 7c17fe122211585ef65ad8672e884c45412d16d1
  index.html
Due: none

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
