Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: update docs/matlab.md
  docs/matlab.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/matlab.md (#969)
  docs/matlab.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md #102
  README.md
Due: none

doc: Update README.md #102 5cdd5d8d89f8c51d399ecd5106e3199fe818bfc3
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md
  README.md
  appicon/mousio.png
Due: none

doc: Update README.md 43effcf0cb19f2ee6e27bca8c2739b85ef0a7b8b
  appicon/mousio.png
  data.js
  data.json
  index.html
Due: prettier --write

docs: fix formatting and add Java OOP content in docs
  docs/chatgpt.md
  docs/dotnet-cli.md
  docs/git.md
  docs/java.md
  docs/mysql.md
  docs/pip.md
  docs/zed.md
Due: npx markdownlint-cli --fix ./docs

docs: fix formatting and add Java OOP content in docs (#970)
  docs/chatgpt.md
  docs/dotnet-cli.md
  docs/git.md
  docs/java.md
  docs/mysql.md
  docs/pip.md
  docs/zed.md
Due: npx markdownlint-cli --fix ./docs

docs(docs/java.md): add Java abstract class and interface
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

docs(docs/java.md): add Java abstract class and interface (#971)
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

docs(docs/uv.md): add docs/uv.md
  README.md
  assets/uv.svg
  docs/uv.md
Due: npx markdownlint-cli --fix ./docs

feat: add docs/uv.md (#972)
  README.md
  assets/uv.svg
  docs/uv.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/uv.md #972 #967
  README.md
  assets/uv.svg
  docs/uv.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md
  README.md
Due: none

doc: Update README.md d48cf7d4ecdefe5b0da979e81e71ad327d913fd5
  data.js
  data.json
  docs/uv.html
  index.html
Due: prettier --write

doc: Update README.md 7011e08a95a3fda6770f653b5223a4b68e29892f
  data.js
  data.json
  index.html
Due: prettier --write

Add OneNAS.space
  README.md
Due: none

Add OneNAS.space 139d1074546cf2836e65082e6670a90cd287bd1e
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md 0feb5644c9f7fddd38e396e0c71ba1101620fb7a
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 3a106842b390cf8db4b34580b92ea57ed67fb6ed
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md
  README.md
  appicon/mousio-hint.png
Due: none

doc: Update README.md 55ee13ad5f45e8b7db6031c45b338aea991604b3
  appicon/mousio-hint.png
  data.js
  data.json
  index.html
Due: prettier --write

docs: add wails.md introduction doc
  docs/wails.md
Due: npx markdownlint-cli --fix ./docs

Update wails.md
  docs/wails.md
Due: npx markdownlint-cli --fix ./docs

docs: update documentation
  docs/wails.md
Due: npx markdownlint-cli --fix ./docs

feat: add wails.md cheat sheet doc (#973)
  docs/wails.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/wails.md
  docs/cmd.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/wails.md
  data.js
  data.json
  docs/cmd.html
  index.html
Due: prettier --write

doc: update docs/wails.md #973
  README.md
  appicon/wails.png
  docs/wails.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/wails.md #973 1cd3c369ea60cd5c52649c67ed9a91cf08a94b58
  appicon/wails.png
  data.js
  data.json
  docs/wails.html
  index.html
Due: prettier --write

doc: update wails logo #973
  README.md
  appicon/wails.png
  assets/wails.svg
Due: none

doc: update wails logo #973 721b876dea26e042a07a77cea806df2c3e41f132
  appicon/wails.png
  data.js
  data.json
  docs/wails.html
  index.html
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
