Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update docs/kubernetes.md 38bbf5d6d3960200415930169695eedfc802f279
  data.js
  data.json
  docs/bash.html
  docs/c.html
  docs/kubernetes.html
  index.html
Due: prettier --write

doc: add docs/ftp.md #596 3cee78a29e927896043d9930a859940bdefc3f97
  data.js
  data.json
  docs/ftp.html
  docs/r.html
  index.html
Due: prettier --write

fix: fix mysql delete index
  docs/mysql.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/mysql.md (#605) be81f1bfcb511b7dea59d900bd0c287716641308
  data.js
  data.json
  docs/mysql.html
  index.html
Due: prettier --write

增加国内镜像
  README.md
Due: none

doc: Update README.md 55be092001863f545c3d5d2b7a01ca3211392e32
  data.js
  data.json
  index.html
Due: prettier --write

add reference of syntax sugar for c#
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

optimizing page format for cs.md
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/cs.md (#608) 51336f8b8661d19dbe435fc5e5ccf9301f009992
  data.js
  data.json
  docs/cs.html
  index.html
Due: prettier --write

add reference of linq for c#
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/cs.md e8af72372c969dfa42a4e0018d340a6f4fbcd50a
  data.js
  data.json
  docs/cs.html
  index.html
Due: prettier --write

doc: update README.md 444f2c8c919d2eb3f95d4408664cc600403abb46
  data.js
  data.json
  index.html
Due: prettier --write

doc: update docs/github.md 9db13825c5981fc7828fe880373e8daf7e13279a
  data.js
  data.json
  docs/github.html
  index.html
Due: prettier --write

add tauri
  README.md
  docs/tauri.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/tauri.md (#610) ebcae6d5cdbd509eec2a123bb3ce4eb7b308a9a8
  data.js
  data.json
  docs/tauri.html
  index.html
Due: prettier --write

doc: update docs/cpp.md
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

添加Actions定时执行的配置说明
  docs/github-actions.md
Due: npx markdownlint-cli --fix ./docs
