Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update docs/conda.md 36676240e2c769091ab373d626bb4a905293e2ff
  data.js
  data.json
  docs/symbol-code.html
  index.html
Due: prettier --write

released v1.39.0 91f81b4958a005fa72700b26eab76714964e4cdb
  index.html
Due: none

feat: add docs/subversion.md (#403) ca05decbc07ecd430e6077ff3020b502c1c3ee83
  data.js
  data.json
  docs/subversion.html
  index.html
Due: prettier --write

doc: update README.md 98efabd9256f0c0ce194249a477a5602b6244fd5
  docs/symbol-code.html
  index.html
Due: none

doc: Update README.md (#102) 45fbcae3f9188db38aaef033c13c313cc8276eb5
  index.html
Due: none

docs: add FastAPI
  README.md
  assets/fastapi.svg
  docs/fastapi.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/fastapi.md #422 b3e8be65f647765ad2a878e7aff8d2836d277558
  data.js
  data.json
  docs/fastapi.html
  index.html
Due: prettier --write

doc: update docs/fastapi.md
  docs/fastapi.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/git.md
  docs/git.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/typescript.md 6c7d393cff87e773240f39858ee4b7ef0ce298d4
  data.js
  data.json
  docs/typescript.html
  index.html
Due: prettier --write

Update c.md
  docs/c.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/c.md (#426) 08614a6ce870d5a88cc9d9da10923a82639a127a
  data.js
  data.json
  docs/c.html
  index.html
Due: prettier --write

doc: Update README.md e79adc056df393ed844a59283098b4ded734bd48
  index.html
Due: none
