Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc(nginx): fix typo in nginx.md (#169) 7226d3604b1bfbcf32ea954e63ca56a96b58e8bf
  docs/nginx.html
  index.html
Due: none

doc: Update README.md #102 be7e853d41c99ecdc0e5b7405528a024f1142809
  index.html
Due: none

doc: update `bash.md`. 50b597feeee71733a5d1552641fd52d6be383575
  data.js
  data.json
  docs/bash.html
  index.html
Due: prettier --write

doc: update github-actions.md 60af572979ec62ed741328ebbb36656f5096d122
  data.js
  data.json
  docs/github-actions.html
  index.html
Due: prettier --write

feat: add gitlab-ci.md cheatsheet. #170 7cfda1e9b803a44fc647440d33406d463bf7451f
  data.js
  data.json
  docs/gitlab-ci.html
  index.html
Due: prettier --write

doc: update README.md #170 2cd9b59c989c5b3d237cf59bc2135b2cc0bf45d5
  data.js
  data.json
  docs/gitlab-ci.html
  index.html
Due: prettier --write

doc: update github-actions.md 88c09562a265207126ef0d9a7e946317852aa398
  data.js
  data.json
  docs/github-actions.html
  docs/jq.html
  index.html
  style/style.css
Due: prettier --write

doc: update npm.md 8a6042bffcf1acae970fd5a3ad28655fb80aeb9f
  docs/npm.html
  index.html
Due: none

fix: fix bugs that caused search issue. 6810d618c59ef82c7494afecf65cea5370063dd5
  data.js
  data.json
  docs/package.json.html
  index.html
Due: prettier --write

doc: update README.md #102 627c6fe8836b32da560cc3d12bea5e30da876c4e
  docs/quickreference.html
  index.html
Due: none

doc: update git.md a26654ababbb5f2b82438bcd82e460a197b2dd1e
  data.js
  docs/git.html
  index.html
Due: none

chore(deps): update dependency refs-cli to v0.0.6 fix #173 e33da068d810b3d8f13de95289b48716b4f91b71
  data.json
  index.html
Due: prettier --write

bug: the dependencies of pnpm
  .npmrc
Due: none

chore: the dependencies of pnpm (#174) 492ef01fce26d740bccd00b33cd351fb1d2f8c60
  index.html
Due: none

doc: update gitlab-ci.md #170 6552a805829d5ce6d8a4f32e6c49f88deeeed068
  data.js
  data.json
  docs/gitlab-ci.html
  index.html
Due: prettier --write

doc: update flutter.md
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

doc: update flutter.md (#175) (#58)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/flutter.html
  index.html
Due: prettier --write

chore(deps): update dependency refs-cli to ^0.0.7 (#176)
  index.html
  style/style.css
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
