Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: Update glances.md (#1016)
  docs/glances.md
Due: npx markdownlint-cli --fix ./docs

doc: update mirror site #102.
  README.md
Due: none

doc: update mirror site #102. c822e74120a82e6474893f86c519df343ee15a05
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md
  README.md
  appicon/screen-test.png
Due: none

doc: Update README.md 4b4f361e7a063b7cbc9185f117fb49a3364b13f2
  appicon/screen-test.png
  data.js
  data.json
  index.html
Due: prettier --write

doc: add 7zip
  docs/7zip.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/7zip.md
  README.md
Due: none

doc: add 7z commands (#1018)
  README.md
  docs/7zip.md
Due: npx markdownlint-cli --fix ./docs

doc: include recursive options for moving and copying folders
  docs/minio.md
Due: npx markdownlint-cli --fix ./docs

doc: add mc admin commands
  docs/minio.md
Due: npx markdownlint-cli --fix ./docs

doc: improve minio.md (add common admin commands and fix some issues) (#1019)
  docs/minio.md
Due: npx markdownlint-cli --fix ./docs

fixed #1020
  docs/feds.md
Due: npx markdownlint-cli --fix ./docs

doc: update mirror site #102. 851899f3593e8cb96eeab135f4f50a3bfb431986
  data.js
  data.json
  index.html
Due: prettier --write

chore: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: update CONTRIBUTING.md ce9270a2307a068b1a83ba91cf3a8e94a2a4945f
  data.js
  data.json
  index.html
Due: prettier --write

chore: Update README.md
  README.md
  appicon/scap.png
Due: none

Update Biome link in documentation
  docs/feds.md
Due: npx markdownlint-cli --fix ./docs

Update Biome link in documentation (#1021)
  docs/feds.md
Due: npx markdownlint-cli --fix ./docs

Add taskkill command section to cmd.md
  docs/cmd.md
Due: npx markdownlint-cli --fix ./docs

ci: update workflows config.
  .github/workflows/ci.yml
  .github/workflows/win.yml
Due: none

ci: update FUNDING.yml
  .github/FUNDING.yml
Due: none

doc: Update README.md
  README.md
Due: none

doc: Update README.md 74be8a4ba038e736cfd7e9011cc61cdb55e3801c
  data.js
  data.json
  index.html
Due: prettier --write

chore: update sponsors.
  README.md
Due: none

doc: update docs/markdown.md
  docs/markdown.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
