Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

Update cpp.md
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

doc: Update cpp.md (#254)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/cpp.html
  index.html
Due: prettier --write

doc: update cpp.md (#254) b08cc85e41941e9310c02849f0dda4117c20538c
  data.js
  data.json
  docs/cpp.html
  index.html
Due: prettier --write

更新排版
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

更新C++多线程：锁
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

更新C++11多线程内容
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

doc: update cpp.md (#255)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/cpp.html
  index.html
Due: prettier --write

doc: update cpp.md #255 f40b56ebb83e7dca9ec65c05204956309eda5d0b
  data.js
  data.json
  docs/cpp.html
  index.html
Due: prettier --write

chore(deps): update dependency markdownlint to ^0.27.0 (#250)
  index.html
Due: none

Update README.md
  README.md
Due: none

doc: Update README.md (#258) dda6efdc7ca94cae450f0a0c17aac566843f01d8
  CONTRIBUTORS.svg
  index.html
Due: none

README.md新增一个镜像网站https://quickreference.pages.dev/
  README.md
Due: none

doc: Update README.md (#259) fc11b2f0dcae7c2b299aeb55c324feaec024d5b9
  CONTRIBUTORS.svg
  index.html
Due: none

doc: update README.md #102 6c220d88aed599b565d68f59a7f5dc8372d0906c
  index.html
Due: none

feat: add ps.md cheatsheet. #251 9ef65a9f3ddcc191d079979e455474b8d9f38fc4
  data.js
  data.json
  docs/ps.html
  index.html
Due: prettier --write

feat: add kubernetes.md cheatsheet. #44 3a7af1eef320b0a8a6ab2d62c57303c76180e0c5
  data.js
  data.json
  docs/kubernetes.html
  index.html
Due: prettier --write

doc: update julia.md ad5accdeff1a76ded5abe0986dd96c0e4190581e
  data.js
  data.json
  docs/julia.html
  index.html
Due: prettier --write

doc: update CONTRIBUTING.md 2d994f85970ffc7193fb8fabe55793c7a3a5484f
  index.html
Due: none

released v1.35.0 ae633b43e858f7e7e1e6ae3810258efa3f76b4cc
  docs/kotlin.html
  index.html
Due: none

Update java.md
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: Update java.md (#261)
  docs/java.html
  index.html
Due: none

doc: update java.md (#261) 0691e82eb2a53d475658998a2ed47cb835b042e6
  CONTRIBUTORS.svg
  docs/java.html
  index.html
Due: none

Update new mirror sources
  README.md
Due: none

update mirror titles
  README.md
Due: none

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
