Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: update README.md (#402 #102)
  index.html
Due: none

添加了使用remove方法移除list内容以及搜索list的方法
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: 更正对错误类型标注的示例
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

更正git清单的描述
  docs/git.md
Due: npx markdownlint-cli --fix ./docs

doc: 优化 Python 判断语句的示例
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: 添加 Python 解包清单
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: 添加 Python 数据模型清单
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/python.md (#408) c06cbe37f0f060d03d09f3d127b332d684e13c19
  data.js
  data.json
  docs/python.html
  index.html
Due: prettier --write

http-status-code.md translation updated.
  docs/http-status-code.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md #102 d58866361905be1881aa7e7f18913b8d45be642a
  index.html
Due: none

Update ffmpeg.md
  docs/ffmpeg.md
Due: npx markdownlint-cli --fix ./docs

update: 更新Github Actions
  .github/workflows/update-ref.yml
  .gitignore
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

Delete main.yml
  .github/workflows/main.yml
Due: none

update: work
  .github/workflows/update-ref.yml
  .gitignore
Due: none

update: 更新ref
  .github/workflows/update-ref.yml
Due: none

update: 更新.env
  .github/workflows/update-ref.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
