Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

在 MySQL 文档中新增错误处理常用语句和聚合函数中的 GROUP_CONCAT()
  docs/mysql.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/mysql.md (#941)
  docs/mysql.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md
  README.md
Due: none

doc: Update README.md a9974dfd206abc43ea2704461aa1697b00604bce
  data.js
  data.json
  index.html
Due: prettier --write

新增性能优化板块
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

Move Performance Optimization introduction to ### 介绍 section
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

我在 `# 性能优化` 章节中又新增了三个优化方法：虚拟列表（Virtual Scrolling）、按需加载资源（Lazy Loading Resources）和优化事件监听（Event Delegation），每个方法都附带了代码示例和说明。这些方法可以进一步丰富优化策略，覆盖更多场景。
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

doc: updat docs/vue.md (#943)
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

doc: updat docs/vue.md (#943)
  data.js
  data.json
  docs/vue.html
  index.html
Due: prettier --write

doc: Update README.md #102
  README.md
Due: none

doc: Update README.md #102 c9ae7d673ef72a60f2cc066dd320187c93cf2033
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 46e0ef54439721036590c534a3f27b21a64432d6
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md 9eb9edd04afe0413523fde92999b623b4099cfcf
  data.js
  data.json
  index.html
Due: prettier --write

Update vue.md 尝试修复性能优化部分代码着色问题
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/vue.md (#948)
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs for list management functions in kernel-api
  docs/kernel-api.md
Due: npx markdownlint-cli --fix ./docs

chore: update sponsorship support #947
  README.md
  appicon/copybook-generator.png
  appicon/create-custom-symbols.png
  appicon/daybar.png
  appicon/devhub.png
  appicon/devtutor.png
  appicon/focus-cursor.png
  appicon/hosts-editor.png
  appicon/iconed.png
  appicon/iconize-folder.png
  appicon/key-clicker.png
  appicon/npmd.png
  appicon/palette-genius.png
  appicon/paste-quick.png
  appicon/quick-rss.png
  appicon/regex-mate.png
  appicon/resume-revise.png
  appicon/rightmenu-master.png
  appicon/symbol-scribe.png
  appicon/textsound-saver.png
  appicon/time-passage.png
  appicon/videoer.png
  appicon/web-serve.png
  package.json
Due: prettier --write

chore: update scripts.
  package.json
Due: prettier --write

chore: update scripts. 2655ce4914e4a7f107e93e9a2b5f4ba9297d6a5f
  appicon/copybook-generator.png
  appicon/create-custom-symbols.png
  appicon/daybar.png
  appicon/devhub.png
  appicon/devtutor.png
  appicon/focus-cursor.png
  appicon/hosts-editor.png
  appicon/iconed.png
  appicon/iconize-folder.png
  appicon/key-clicker.png
  appicon/npmd.png
  appicon/palette-genius.png
  appicon/paste-quick.png
  appicon/quick-rss.png
  appicon/regex-mate.png
  appicon/resume-revise.png
  appicon/rightmenu-master.png
  appicon/symbol-scribe.png
  appicon/textsound-saver.png
  appicon/time-passage.png
  appicon/videoer.png
  appicon/web-serve.png
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 5b256b077e21d6f54d0dceb953f461d85ac04e29
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 fe07d5fd8ca1124c1d8c6185e9d59e219e1a27f0
  data.js
  data.json
  index.html
Due: prettier --write

Update README.md
  README.md
Due: none

doc: Update README.md (#954) #102
  README.md
Due: none

doc: update README.md
  README.md
  appicon/file-sentinel.png
Due: none

doc: update README.md ee9a764b8fcaec8dfb44a5910f11793c00cf8b19
  appicon/file-sentinel.png
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update lua.md #957
  docs/lua.md
Due: npx markdownlint-cli --fix ./docs

doc: Update lua.md #957 975ddb3193233d7df0943b9b2fd9b4d85d2e02c4
  data.js
  data.json
  docs/lua.html
  index.html
Due: prettier --write
