Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: Update README.md #102
  README.md
Due: none

modify c tutor
  docs/c.md
Due: npx markdownlint-cli --fix ./docs

doc: update c.md (#911)
  docs/c.md
Due: npx markdownlint-cli --fix ./docs

doc: update c.md (#911) 6c8217202a4417b793b3e17aca68199d270565dc
  data.js
  data.json
  docs/c.html
  index.html
Due: prettier --write

doc: Update README.md
  README.md
Due: none

Modify c.md
  docs/c.md
Due: npx markdownlint-cli --fix ./docs

doc: update c.md document (#913)
  docs/c.md
Due: npx markdownlint-cli --fix ./docs

doc: update c.md document (#913)
  data.js
  data.json
  docs/c.html
  index.html
Due: prettier --write

method intern can get a ref of the same string in the string pool
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: update java.md
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: update java.md (#914)
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: update java.md (#914)
  data.js
  data.json
  docs/java.html
  index.html
Due: prettier --write

doc: update README.md
  README.md
Due: none

doc: Update README.md daaa4c5f09aafa16a7ff234628bbfec8ff3efbf4
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md 579d1de67370d9bf8fe2b2c34afd53b356b4a90b
  data.js
  data.json
  index.html
Due: prettier --write

Update emoji.md
  docs/emoji.md
Due: npx markdownlint-cli --fix ./docs

doc: Update emoji.md (#915)
  docs/emoji.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md b00b74f6959db4001c64506e15147fbf6f4d3e14
  data.js
  data.json
  index.html
Due: prettier --write

update yazi.md
  docs/yazi.md
Due: npx markdownlint-cli --fix ./docs

feat: add docs/yazi.md (#919)
  README.md
  docs/yazi.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/yazi.md
  docs/yazi.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md 0eb3ac616524f440c074d3b60f8a44bec99ee93a
  data.js
  data.json
  index.html
Due: prettier --write
