Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update docs/cmd.md
  docs/cmd.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/cmd.md 9f0cbc9c91051ac92924ea8d872a49bd8ac67f20
  data.js
  data.json
  docs/markdown.html
  index.html
Due: prettier --write

doc: update README.md
  README.md
Due: none

doc: update README.md 2435ec541b86ea38fd3fcf85fe920d9d608b91b5
  data.js
  data.json
  index.html
Due: prettier --write

doc: update README.md (ScreenSage Pro sponsorship)
  README.md
Due: none

doc: update README.md (ScreenSage Pro sponsorship) a0a41192baf112e9841916ed745bdab262315bb9
  data.js
  data.json
  docs/latex.html
  docs/markdown.html
  docs/quickreference.html
  index.html
Due: prettier --write

doc: Update java.md
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: Update java.md (#1025)
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: update README.md ba1db2eaccc043a7b743fa0ee38acc5256d2cde7
  data.js
  data.json
  index.html
Due: prettier --write

Fix formatting of makefile variable explanation
  docs/make.md
Due: npx markdownlint-cli --fix ./docs

Fix formatting of makefile variable explanation (#1027)
  docs/make.md
Due: npx markdownlint-cli --fix ./docs

doc: update README.md (DolOffer sponsorship)
  README.md
Due: none

doc: Update README.md
  README.md
  appicon/zipora.png
Due: none

doc: Update README.md
  README.md
Due: none

doc: Add Codex CLI
  README.md
  assets/codex-cli.svg
  docs/codex-cli.md
Due: npx markdownlint-cli --fix ./docs

doc: Add Codex CLI
  docs/codex-cli.md
Due: npx markdownlint-cli --fix ./docs

Add Gemma 4
  README.md
  assets/grok-cli.svg
  docs/gemma4.md
Due: npx markdownlint-cli --fix ./docs

Add Grok CLI
  README.md
  docs/gemma4.md
  docs/grok-cli.md
Due: npx markdownlint-cli --fix ./docs

Add Gemini CLI
  docs/gemini-cli.md
Due: npx markdownlint-cli --fix ./docs

Add Cursor CLI.
  README.md
  assets/cursor-cli.svg
  docs/codex-cli.md
  docs/cursor-cli.md
  docs/grok-cli.md
Due: npx markdownlint-cli --fix ./docs

Add Gemini CLI
  README.md
  assets/gemini-cli.svg
  docs/gemini-cli.md
  docs/grok-cli.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/adobe-ae.md
  docs/adobe-ae.md
Due: npx markdownlint-cli --fix ./docs

feat: add adobe-ae #1029
  README.md
  assets/adobe-ae.svg
  docs/adobe-ae.md
Due: npx markdownlint-cli --fix ./docs
