Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update flutter.md
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

doc: update dart.md
  docs/dart.md
Due: npx markdownlint-cli --fix ./docs

doc: update dart.md (#801) a45e63a966d6219e3042717d4a8384b8bee4c9c2
  data.js
  data.json
  docs/dart.html
  index.html
Due: prettier --write

doc: update flutter.md (#800) fac5af10c82d96c1f1964bbe036b13d8302409ad
  data.js
  data.json
  docs/flutter.html
  index.html
Due: prettier --write

doc: update golang.md
  docs/golang.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/git.md 145bdf9119ff82c50d2ac38842c0cca09587d2c5
  data.js
  data.json
  docs/git.html
  index.html
Due: prettier --write

doc: Update README.md #102 3e40d6e54f87ddc90b64e24b2e8586a9a4bd0fc2
  data.js
  data.json
  index.html
Due: prettier --write

feat: add jupyter note
  README.md
  assets/jupyter.svg
  docs/jupyter.md
Due: npx markdownlint-cli --fix ./docs

fix: alter note
  docs/jupyter.md
Due: npx markdownlint-cli --fix ./docs

fix:add note
  docs/jupyter.md
Due: npx markdownlint-cli --fix ./docs

feat: add jupyter (#803)
  data.js
  data.json
  docs/jupyter.html
  index.html
Due: prettier --write

doc: update dart.md (#806)
  docs/dart.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md #102
  README.md
Due: none

doc: Update README.md #102 ec6d1677d68a1f859d5f6d50d9bd6a502da79bf0
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 8c8b7210153c2009d822b6afe7fcbb58d993beab
  data.js
  data.json
  index.html
Due: prettier --write

Update linux-command.md
  docs/linux-command.md
Due: npx markdownlint-cli --fix ./docs

doc: Update linux-command.md (#807)
  docs/linux-command.md
Due: npx markdownlint-cli --fix ./docs

doc: Update linux-command.md (#807)
  data.js
  data.json
  docs/linux-command.html
  index.html
Due: prettier --write

doc: Update docs/jupyter.md
  docs/jupyter.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/github-actions.md
  docs/github-actions.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/github-actions.md 58991c482ec722b50e80ed68a4df8459f805c008
  data.js
  data.json
  docs/github-actions.html
  docs/jupyter.html
  index.html
Due: prettier --write

doc: Update github-actions.md
  docs/github-actions.md
Due: npx markdownlint-cli --fix ./docs

doc: Update github-actions.md 90b9b407b3fd356a86896a16a1adfde527940199
  data.js
  data.json
  docs/github-actions.html
  index.html
Due: prettier --write

update: 更新部署配置
  .github/workflows/update-ref.yml
Due: none

update: 删除原先配置
  .github/workflows/update-ref.yml
Due: none

doc: Update README.md (#102)
  README.md
Due: none

doc: Update README.md (#102) f80b5795bc140961436d2b3a281fb312e506a36a
  data.js
  data.json
  index.html
Due: prettier --write

doc: update docs/typescript.md
  docs/typescript.md
Due: npx markdownlint-cli --fix ./docs
