Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

feat: add mirror
  README.md
Due: none

Update java.md
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

chore: add env
  .env
  .gitignore
Due: none

doc: Update java.md (#240)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/java.html
  index.html
Due: prettier --write

feat: add mirror (#239) 7ac675e34c735ff5b88e6c6d345177afc101dfa0
  CONTRIBUTORS.svg
  data.js
  data.json
  index.html
Due: prettier --write

feat: add javascript Proxy and Reflect
  docs/javascript.md
Due: npx markdownlint-cli --fix ./docs

doc: update javascript.md Proxy and Reflect (#243) ef823de9a544f3f3b61d36086a987199e79d092e
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/javascript.html
  index.html
Due: prettier --write

chore: update README.md #102 98edffbca0008fef780006ea6995e68ec4f8095a
  CONTRIBUTORS.svg
  index.html
Due: none

doc: update javascript.md (#243) afd924a928f79147dd59f90ab558c667e9cd3cde
  docs/javascript.html
  index.html
Due: none

Update iptables.md
  docs/iptables.md
Due: npx markdownlint-cli --fix ./docs

doc: Update iptables.md (#245) 63d846b35d73573bef89b2fc34e39a8d2f5a35f3
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/iptables.html
  index.html
Due: prettier --write

Update cpp.md
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

doc: Update cpp.md (#246)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/cpp.html
  index.html
Due: prettier --write

feat: add pycharm.md cheatsheet. #244 f4d2c9900704e149bdc2047af0069b3f88db992a
  data.js
  data.json
  docs/pycharm.html
  index.html
Due: prettier --write

doc: Update cpp.md (#246) b42883e3de2a689e86e3daea19d2ae713a9f835a
  data.js
  data.json
  docs/cpp.html
  docs/mongodb.html
  index.html
Due: prettier --write

Update feds.md
  docs/feds.md
Due: npx markdownlint-cli --fix ./docs

doc: Update feds.md (#248)
  docs/feds.html
  index.html
Due: none

doc: update feds.md (#248) f5e2ad2c3173420119111af5f5e4cd11e55b386d
  docs/feds.html
  index.html
Due: none

released v1.34.0 bf962194dad2c0d0190ec9f26d5417faa8faee28
  CONTRIBUTORS.svg
  data.js
  data.json
  index.html
Due: prettier --write

Create CNAME
  CNAME
Due: none

doc: update README.md.
  README.md
Due: none

Create CNAME
  docs/CNAME
Due: none

Delete CNAME
  docs/CNAME
Due: none

doc: update README.md. (#252) cabda9b9c9257c10b823418b270d172562ab64bc
  data.js
  data.json
  index.html
Due: prettier --write

doc: update docs/css.md 19f919f532c71240b32820d7e307f30e3203cf6b
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/css.html
  index.html
Due: prettier --write
