Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update css.md b104ca8bfdba81e5708e45237274275bb6c98859
  data.js
  data.json
  docs/css.html
  index.html
Due: prettier --write

add mirror ref.eryajf.net
  README.md
Due: none

doc: add mirror ref.eryajf.net (#208)
  CONTRIBUTORS.svg
  index.html
Due: none

doc: update css.md c1fbb993933151d6cbc554b3a838d708443b4f2c
  data.js
  data.json
  docs/css.html
  index.html
Due: prettier --write

docs: add makefile
  docs/make.md
Due: npx markdownlint-cli --fix ./docs

docs: add makefile (#209) #200 381a23490eca056114f89ee66b91e1d4359ae102
  data.js
  data.json
  docs/make.html
  index.html
Due: prettier --write

doc: add badges. 0b704fd5e3bec8b154169dc0d146b3db1f06760a
  data.js
  data.json
  docs/expressjs.html
  docs/jest.html
  docs/koajs.html
  docs/lerna.html
  docs/lessjs.html
  docs/nestjs.html
  docs/pm2.html
  docs/vue.html
  index.html
Due: prettier --write

released v1.31.0 c5f5f0cd19a76767c3fa48cfaff0bbfdfc2402f7
  data.js
  data.json
  index.html
Due: prettier --write

doc: add intelli-j-idea.md cheatsheet. 0af1de43c7adf8bbc300de36f8a8c95440186648
  data.js
  data.json
  docs/intelli-j-idea.html
  index.html
Due: prettier --write

去掉一个错误的镜像站
  README.md
Due: none

doc: update README.md (#213) (#102)
  index.html
Due: none

doc: update make
  docs/make.md
Due: npx markdownlint-cli --fix ./docs

doc: update make.md (#214) 58f486a9fb9669c3ad389358052f43a9ca6e0866
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/make.html
  index.html
Due: prettier --write

doc: update make.md (#215) 403838287e2818292a53636353ce49d76c8ac16f
  data.js
  data.json
  docs/make.html
  index.html
Due: prettier --write

doc: update git
  docs/git.md
Due: npx markdownlint-cli --fix ./docs

doc: update git.md (#216) 7348140ae1969b3cdafd34d5396ad449c7ae5656
  data.js
  data.json
  docs/git.html
  index.html
Due: prettier --write

doc: update make.md #200 b13bb0d6b99fb0de1c1c09678c5b327866a2043c
  data.js
  data.json
  docs/make.html
  index.html
Due: prettier --write

doc: update git.md 768fb34db9b821c391b00707df00044c3c51158c
  docs/git.html
  index.html
Due: none

feat: add jquery.md cheatsheet. #217 a40568cc85000007ea3c8dab7fe046c40fb3ac56
  data.js
  data.json
  docs/jquery.html
  index.html
  style/style.css
Due: prettier --write

Update README.md
  README.md
Due: none

doc: Update README.md (#218) c56a018d9b84610321c1c61847646ae9b86a4984
  CONTRIBUTORS.svg
  index.html
Due: none

doc: update docker.md, dockerfile.md
  docs/docker.md
  docs/dockerfile.md
Due: npx markdownlint-cli --fix ./docs
