Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

released v1.24.0 bf9022c1ea6c4751d1810f037af26dd66017ca2c
  index.html
Due: none

docs: add flutter.md
  README.md
  docs/flutter.md
  scripts/assets/flutter.svg
Due: npx markdownlint-cli --fix ./docs

doc: update homebrew.md
  README.md
  docs/homebrew.md
Due: npx markdownlint-cli --fix ./docs

docs: add flutter.md (#149)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/flutter.html
  index.html
Due: prettier --write

doc: update homebrew.md (#150)
  data.js
  data.json
  docs/homebrew.html
  index.html
Due: prettier --write

doc: update flutter.md #58 #149 68fba8a8aea959bb8defa900a322f73771715def
  data.js
  data.json
  docs/flutter.html
  index.html
  style/style.css
Due: prettier --write

doc: update flutter.md #58 #149 0148846d7e9c18cf4e57fd9f4e06189c377f487c
  data.js
  data.json
  docs/flutter.html
  index.html
Due: prettier --write

doc: update flutter.md #58 #149 3004986d2d1ef090e20dea24aed4e3754c260163
  data.js
  data.json
  docs/flutter.html
  index.html
Due: prettier --write

doc: update css.md 99fe72ef73b104d5fdc4fd510fee9c0963e58f88
  data.js
  data.json
  docs/css.html
  index.html
Due: prettier --write

feat: add mitmproxy.md #60 46d2f13e704386806a1b119c4f9d722fee4808ad
  data.js
  data.json
  docs/mitmproxy.html
  index.html
Due: prettier --write

doc: update mitmproxy.md #60 63adae9cbca914b4c4de7558aac55e402706f3de
  data.js
  data.json
  docs/mitmproxy.html
  index.html
Due: prettier --write

feat: add nestjs.md cheatsheet.
  README.md
  docs/nestjs.md
  scripts/assets/nestjs.svg
Due: npx markdownlint-cli --fix ./docs

docs: add nestjs.md (#151) (#29)
  data.js
  data.json
  docs/nestjs.html
  index.html
Due: prettier --write

doc: update nestjs.md #29 a1f283b55f418b7c65d653210b622e3620771a05
  CONTRIBUTORS.svg
  docs/nestjs.html
  index.html
Due: none

doc: maybe better translate.
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

Update cs.md
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

doc: maybe better translate of cs.md (#152)
  data.js
  data.json
  docs/cs.html
  index.html
Due: prettier --write

doc: update cs.md #153 #152 1ae50452f5cf854b1252642eba2db0390b55720c
  CONTRIBUTORS.svg
  docs/cs.html
  index.html
Due: none

fix: fix search error & add name field in data.json #105 b473d99111c83c651db6aa5ba5f64ec28bb298cd
  data.js
  data.json
  index.html
  js/main.js
  style/style.css
Due: prettier --write

doc: update vue.md #10 60eada1748f089f279b445b7f0d063af341ba09f
  data.js
  data.json
  docs/vue.html
  index.html
Due: prettier --write

doc: update vue3
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs
