Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: Update README.md 485d80489bece098d2241fd068ca41ae1853924b
  data.js
  data.json
  index.html
Due: prettier --write

released v1.46.0
  package.json
Due: prettier --write

released v1.46.0 61046b519bed12d073717b483e687bd49d7261da
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md
  README.md
Due: none

doc: Update README.md 4c8694d78478911911eab875a0d6d13a337b7d05
  data.js
  data.json
  index.html
Due: prettier --write

feat: add time-zones.md #924
  README.md
  assets/time-zones.svg
  docs/time-zones.md
Due: npx markdownlint-cli --fix ./docs

feat: add time-zones.md #924 fe047b1e5a7eee2da8d1c0ced7acbe20652d39b8
  data.js
  data.json
  docs/time-zones.html
  index.html
Due: prettier --write

doc: fix pyenv typo and some usecase
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

添加了Csharp的事件与委托部分参考
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/python.md (#925)
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/cs.md (#926)
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

docs: unified title language and format
  docs/latex.md
Due: npx markdownlint-cli --fix ./docs

docs: 微分符号 `d` 使用正体
  docs/latex.md
Due: npx markdownlint-cli --fix ./docs

docs: modify the structure of 入门/介绍
  docs/latex.md
Due: npx markdownlint-cli --fix ./docs

docs: optimize `latex.md` (#929)
  docs/latex.md
Due: npx markdownlint-cli --fix ./docs

Update java.md
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: Update java.md (#930)
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc(git): add examples of using the patch command
  docs/git.md
Due: npx markdownlint-cli --fix ./docs

doc(git): update docs/git.md (#931)
  docs/git.md
Due: npx markdownlint-cli --fix ./docs

doc: add framework for kernel api documentation
  docs/kernel-api.md
Due: npx markdownlint-cli --fix ./docs

fix:cpp几个错误
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

doc: Update java.md
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: Update java.md (#934)
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: Update cpp.md (#933)
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

doc: Update cpp.md (#933) e3dbd1b1969f45fe10e50c4d6ee412bc2511072a
  data.js
  data.json
  docs/cpp.html
  index.html
Due: prettier --write

feat: 添加 C++ 智能指针部分
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

doc: Update cpp.md (#935)
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

doc: Update golang.md
  docs/golang.md
Due: npx markdownlint-cli --fix ./docs

doc: Update golang.md (#938)
  docs/golang.md
Due: npx markdownlint-cli --fix ./docs

doc: Update golang.md (#938) 19e258c591965dce271941025915b1db6d895d1e
  data.js
  data.json
  docs/golang.html
  index.html
Due: prettier --write
