Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: update vue3 (#154) (#10) 4cadbf109633dc66a42e1474500fa5034e74b78e
  docs/vue.html
  index.html
Due: none

doc: update vue.md #154 #10 1f73708838c2fc4b1c690c2f2698083e0d0c2522
  data.js
  data.json
  docs/quickreference.html
  docs/vue.html
  index.html
Due: prettier --write

doc: update markdown.md e7ef9347d66af0cbe4de5ae35f891f98f7e8e9b5
  docs/markdown.html
  index.html
Due: none

docs(git): add conventional commits to git
  docs/git.md
Due: npx markdownlint-cli --fix ./docs

fix: redhat typo
  README.md
  docs/yum.md
Due: npx markdownlint-cli --fix ./docs

doc: redhat typo (#157) a24992709adae066218659d9c348fba860c1b0f7
  data.js
  data.json
  docs/yum.html
  index.html
Due: prettier --write

doc(git): update git.md (#156) 9070aa7669cd760152143da1786e72f9f8de84a4
  data.js
  data.json
  docs/git.html
  index.html
Due: prettier --write

fix: c++ typo
  README.md
Due: none

doc: c++ typo & update READMe.md (#158) 2decea91c7a475f44d8c90b2b2593739a9db89f8
  CONTRIBUTORS.svg
  data.js
  data.json
  index.html
Due: prettier --write

website: add search enter shortcat key to jump to the page. 32af5af854d43016b7e76562f4c6757a14e7f88c
  index.html
  js/main.js
  style/style.css
Due: prettier --write

doc: fix #160 3b3e6f3eb8510ae4aad5a62d06e3b87955072c58
  data.js
  data.json
  docs/golang.html
  index.html
Due: prettier --write

webite: optimize search result. fix #159 afbfcc2285f473ae3d3c72bd2d39e7a275312b63
  index.html
  js/main.js
Due: none

docs: update markdown.md
  docs/markdown.md
Due: npx markdownlint-cli --fix ./docs

docs: update markdown.md (#163) f22b15c77df0a4188a47aa28fd12359a2d512173
  CONTRIBUTORS.svg
  docs/markdown.html
  index.html
Due: none

doc: update vue.md #10 08f7f0e18ae6264a5b6f13810c7d4f1eb403c56d
  data.js
  data.json
  docs/vue.html
  index.html
Due: prettier --write

doc: update quickreference.md e4a0ff20acbd964773e8d64d7cdc55695e43ba9f
  docs/quickreference.html
  index.html
Due: none

test: add workflows config. 12ca14cee97ec8f4202dd7b5d233674b1b8016d1
  index.html
Due: none

chore: fix scripts issue. f66f93f97e15975e7342bb791b980df731b3edfb
  index.html
Due: none

chore: udpate workflows config. 98a73126d7dee2f951509ebabf44c46e8b0ad48d
  index.html
Due: none

chore: udpate workflows config. 7f7a16f5e1b5fb9f69217fbdab48aef96ba966aa
  index.html
Due: none

chore: udpate workflows config. 8399eafe6e7a001e5e4037d2e35c412baf6f837d
  index.html
Due: none

website: fix windows path issue. #161 e0e7636ba4c0ee6a8466d6a2a002c2d97273ce89
  index.html
Due: none

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
