Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update docs/sqlite.md (#848)
  docs/sqlite.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/sqlite.md (#848) a92759f0ed6974c84923ac3b0f09ca0d2f7c9d55
  data.js
  data.json
  docs/sqlite.html
  index.html
Due: prettier --write

doc: update docs/react.md
  docs/react.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/react.md 67c9cc4d8efffe8eaf372ac56781080740ea5205
  data.js
  data.json
  docs/react.html
  index.html
Due: prettier --write

doc: update react.md
  docs/react.md
Due: npx markdownlint-cli --fix ./docs

doc: update react.md a73f837fc1501515c2609956ac6d5701c9cfc473
  data.js
  data.json
  docs/react.html
  index.html
Due: prettier --write

删除一个错误字符
  docs/css.md
Due: npx markdownlint-cli --fix ./docs

Update css.md
  docs/css.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/css.md (#849)
  docs/css.md
Due: npx markdownlint-cli --fix ./docs

Add Swift Generics
  docs/swift.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/swift.md (#850)
  docs/swift.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/swift.md (#850) f03cc68c0d2819e7f8d02c40ca138255465f5f2c
  data.js
  data.json
  docs/swift.html
  index.html
Due: prettier --write

Modify words
  docs/swift.md
Due: npx markdownlint-cli --fix ./docs

Modify the layout content in SwiftUI
  docs/swiftui.md
Due: npx markdownlint-cli --fix ./docs

Modify Swift && SwiftUI
  docs/swift.md
  docs/swiftui.md
Due: npx markdownlint-cli --fix ./docs

doc: Modify Swift && SwiftUI (#852)
  docs/swift.md
  docs/swiftui.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md #102
  README.md
Due: none

Update linux-command.md
  docs/linux-command.md
Due: npx markdownlint-cli --fix ./docs

doc: Update linux-command.md (#907)
  docs/linux-command.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md #102 20ecc2eef21f6bfe95eaac76bad36d16847054f0
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 933b1957e467de31c3dfa3cf1c06eb1bbb0d931f
  data.js
  data.json
  index.html
Due: prettier --write

feat: 新增java JDBC
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/java.md (#909)
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

feat: #854 添加端口对照表
  README.md
  docs/ports.md
Due: npx markdownlint-cli --fix ./docs

feat: add docs/ports.md #854 (#910)
  README.md
  docs/ports.md
Due: npx markdownlint-cli --fix ./docs

feat: add docs/ports.md #854 (#910) 579d25d3a1f6b746aff6745bf40e8a8c31f91e06
  data.js
  data.json
  docs/ports.html
  index.html
Due: prettier --write

doc: update docs/ports.md #854 (#910)
  docs/ports.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/ports.md #854 (#910) cfac3742214abc570ccb84423d3de4d0160bcab7
  data.js
  data.json
  docs/ports.html
  index.html
Due: prettier --write
