Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

Update python.md
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: Update python.md (#986)
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: update README.md #102
  README.md
Due: none

doc: Update python.md (#986)
  data.js
  data.json
  docs/python.html
  index.html
Due: prettier --write

doc: update README.md #102 28257459f79457e1ac399ca73e24d4368f9296de
  data.js
  data.json
  index.html
Due: prettier --write

docs: 修改过时内容
  docs/htmx.md
Due: npx markdownlint-cli --fix ./docs

docs: update docs/htmx.md (#987)
  docs/htmx.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 Wails V2 的部分参数
  docs/wails.md
Due: npx markdownlint-cli --fix ./docs

docs: update docs/wails.md (#988)
  docs/wails.md
Due: npx markdownlint-cli --fix ./docs

doc: Update document. #102
  README.md
Due: none

doc: Update document. #102 c0567c6abf209ef351a0bfd571902bbd983d9eb2
  data.js
  data.json
  index.html
Due: prettier --write

docs: update java.md content
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

docs: update docs/java.md (#990)
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

docs: update docs/java.md (#990) 2251b24c61818162743271a215af5b821e9f3aed
  data.js
  data.json
  docs/java.html
  index.html
Due: prettier --write

docs: Update wails.md
  docs/wails.md
Due: npx markdownlint-cli --fix ./docs

docs: Update wails.md (#991)
  docs/wails.md
Due: npx markdownlint-cli --fix ./docs

doc: add mirror site #102.
  README.md
Due: none

doc: add mirror site #102. 7e187485956262115c9ce432909ddbeecfd6c018
  data.js
  data.json
  index.html
Due: prettier --write

Update rust.md
  docs/rust.md
Due: npx markdownlint-cli --fix ./docs

doc: Update rust.md (#994)
  docs/rust.md
Due: npx markdownlint-cli --fix ./docs

doc: add mirror site #102. cca2f658b340d68ceac6d1e24dc411291a9e37d7
  data.js
  data.json
  index.html
Due: prettier --write

doc: update docs/tauri.md
  docs/tauri.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/tauri.md (#996)
  docs/tauri.md
Due: npx markdownlint-cli --fix ./docs

doc: add mirror site #102. 97a83d2094f1deb96fd510f469e1b7c41286cecb
  data.js
  data.json
  index.html
Due: prettier --write

docker compose 版本的变化，添加实用命令
  docs/docker-compose.md
Due: npx markdownlint-cli --fix ./docs

调整显示
  docs/docker-compose.md
Due: npx markdownlint-cli --fix ./docs

命令调整
  docs/docker-compose.md
Due: npx markdownlint-cli --fix ./docs

doc: Update docs/docker-compose.md (#997)
  docs/docker-compose.md
Due: npx markdownlint-cli --fix ./docs

doc: format markdown.
  docs/python.md
  docs/ssh.md
  docs/swift.md
  docs/wails.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/docker-compose.md #997
  docs/docker-compose.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
