Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: add npx document in npm.md #65 9c3ad5a30021d58a30756dfbe9010db4f6bca382
  docs/npm.html
  style/style.css
Due: prettier --write

style: optimize scrollbars style (#68) c40b5ecb8560b404e072aecf0987b87707c3c99f
  style/style.css
Due: prettier --write

feat: add julia.md #59 c97f6a7bca228765b967b7f962e41fb425cd702f
  CONTRIBUTORS.svg
  docs/css.html
  docs/julia.html
  docs/latex.html
  docs/npm.html
  index.html
Due: none

feat: add cs.md #66 2200972ce74977c2a641fd9297ebea1ec50fd7f1
  docs/cs.html
  index.html
Due: none

feat: update typescript
  docs/typescript.md
Due: npx markdownlint-cli --fix ./docs

update
  docs/typescript.md
Due: npx markdownlint-cli --fix ./docs

update: about rust content
  docs/rust.md
Due: npx markdownlint-cli --fix ./docs

Update javascript.md
  docs/javascript.md
Due: npx markdownlint-cli --fix ./docs

doc: Update javascript.md (#72)
  CONTRIBUTORS.svg
  docs/javascript.html
Due: none

doc: about rust content (#70) ada64ac643a679c03859d356eb7e5e0420b1cce1
  docs/rust.html
  index.html
Due: none

doc: update typescript.md (#69)
  CONTRIBUTORS.svg
  docs/typescript.html
Due: none

doc: update rust.md #70 0bc31c68c3d41270ff3e6bdd147e506da1648937
  CONTRIBUTORS.svg
  docs/rust.html
  index.html
Due: none

fix: fix typo content in markdown.md
  docs/markdown.md
Due: npx markdownlint-cli --fix ./docs

fix: fix typo content in markdown.md (#74) 5f6029a051735525b012caafa5790d7744e3cc91
  docs/markdown.html
  index.html
Due: none

feat: 将vue3中的代码由选项式API转成组合式API，并添加vue3的组合式API响应式基础
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

feat: update vue.md (#75) b13ca7ee0af71df99443b66034fcfac065efbbd7
  CONTRIBUTORS.svg
  docs/vue.html
Due: none

feat: update es6 about private class
  docs/es6.md
Due: npx markdownlint-cli --fix ./docs

update
  docs/es6.md
Due: npx markdownlint-cli --fix ./docs

feat: update es6.md about private class (#76)
  CONTRIBUTORS.svg
  docs/es6.html
  index.html
Due: none

feat: add import assertions
  docs/es6.md
Due: npx markdownlint-cli --fix ./docs

doc: update es6.md, add import assertions (#79)
  docs/es6.html
  index.html
Due: none

Update java.md
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: Update java.md (#80) 0e0eb9c628ccbf9ba36cf268119f9f5b55e94ed1
  CONTRIBUTORS.svg
  docs/java.html
Due: none
