Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

doc: update docs/typescript.md d42cbc7d2ca2fa9ab8f7334292dd02a6b3e2738f
  data.js
  data.json
  docs/typescript.html
  index.html
Due: prettier --write

doc: update docs/typescript.md
  docs/typescript.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/typescript.md 1a37518aabb1569fcd0512b60c5d93961031013b
  data.js
  data.json
  docs/typescript.html
  index.html
Due: prettier --write

doc: Update README.md
  README.md
Due: none

doc: Update README.md 4e1a4bb641c927232101567a3cd0d730c20cd299
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md 8963525b9ad7447b16cbe25c5a53291953b202dc
  data.js
  data.json
  index.html
Due: prettier --write

feat: add minio reference
  README.md
  assets/minio.svg
  docs/minio.md
Due: npx markdownlint-cli --fix ./docs

fix:alter minio.md
  docs/minio.md
Due: npx markdownlint-cli --fix ./docs

Update dart.md Fix bug in asynchronous login example
  docs/dart.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/dart.md (#814)
  docs/dart.md
Due: npx markdownlint-cli --fix ./docs

feat: add minio reference (#813)
  README.md
  assets/minio.svg
  docs/minio.md
Due: npx markdownlint-cli --fix ./docs

feat: add minio reference (#813)
  data.js
  data.json
  docs/minio.html
  index.html
Due: prettier --write

fix: Fixed description of math.sqrt function
  docs/lua.md
Due: npx markdownlint-cli --fix ./docs

fix: fix math.asin description
  docs/lua.md
Due: npx markdownlint-cli --fix ./docs

Update lua.md
  docs/lua.md
Due: npx markdownlint-cli --fix ./docs

fix: Fixed description of math function (#817)
  docs/lua.md
Due: npx markdownlint-cli --fix ./docs

fix: Fixed description of math function (#817)
  data.js
  data.json
  docs/lua.html
  index.html
Due: prettier --write

fix: alter readme.md
  README.md
Due: none

doc: update docs/minio.md #813
  README.md
  assets/minio.svg
  docs/minio.md
Due: npx markdownlint-cli --fix ./docs

released v1.45.0
  package.json
Due: prettier --write

released v1.45.0 ea3391734bafa3059bd914974f5860985c8471ee
  data.js
  data.json
  index.html
Due: prettier --write

doc: update docs/docker.md
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/docker.md 660dfe103d2a2e8d94af8746febdf15ed874e0cc
  data.js
  data.json
  docs/docker.html
  index.html
Due: prettier --write

docs: update docs/c.md
  docs/c.md
Due: npx markdownlint-cli --fix ./docs

docs: update docs/c.md (#821)
  docs/c.md
Due: npx markdownlint-cli --fix ./docs

docs: update docs/c.md (#821) ddc7f2dd472e9139fcc3bd0be3c3b36c7b749f95
  data.js
  data.json
  docs/c.html
  index.html
Due: prettier --write

Create update-dockerinstall.yml
  .github/update-dockerinstall.yml
Due: none

Rename update-dockerinstall.yml to update.yml
  .github/update.yml
Due: none

Create update.yml
  .github/workflows/update.yml
Due: none

Delete .github/update.yml
  .github/update.yml
Due: none

Update update.yml
  .github/workflows/update.yml
Due: none

Update and rename update.yml to sync.yml
  .github/workflows/sync.yml
Due: none

doc: update docs/mysql.md fixed #827
  docs/mysql.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
