Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

ci: update workflows config. 4305ed8bd99e340a45b8d591dd84682521769286
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 04a12487c0f5e6b30e77e38bf58dfe2b74a6ea0d
  data.js
  data.json
  index.html
Due: prettier --write

ci: update workflows config. 67c7a0ef4979c5aee3e07d0c06bb63893a8dbc2a
  data.js
  data.json
  index.html
Due: prettier --write

doc: update ansible.md
  docs/ansible.md
Due: npx markdownlint-cli --fix ./docs

doc: update ansible.md (#534)
  data.js
  data.json
  docs/ansible.html
  index.html
Due: prettier --write

doc: Update README.md #102 20c2bfdbef11a9bd2259f21eccfef62f0d630e70
  data.js
  data.json
  index.html
Due: prettier --write

doc: update ansible.md 代码格式
  docs/ansible.md
Due: npx markdownlint-cli --fix ./docs

增加十分钟同步的域名、增加自动部署脚本
  README.md
  git-down-pages.sh
Due: none

优化部署文档：定时任务同步pages的内容
  CONTRIBUTING.md
Due: none

优化 git-down-pages.sh 脚本 到配置
  CONTRIBUTING.md
  git-down-pages.sh
Due: none

update README.md
  README.md
Due: none

doc: update CONTRIBUTING.md #535 11dc28cea3cdf31f372d806dd30dfd6078474fc7
  data.js
  data.json
  index.html
Due: prettier --write

更新代码
  README.md
Due: none

update: doc ansible.md
  docs/ansible.md
Due: npx markdownlint-cli --fix ./docs

update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

update CONTRIBUTING.md fix
  CONTRIBUTING.md
Due: none

优化ansible排版格式
  docs/ansible.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md #102 bc4e48c5fd5d0cfeba3f65d3d84a0f34150eadc9
  data.js
  data.json
  index.html
Due: prettier --write

doc: update docs/ansible.md (#542)
  data.js
  data.json
  docs/ansible.html
  index.html
Due: prettier --write

fix: fix markdown lint issue. 6358f191445b8dd189a8f4bbdbeb0b1ca873970e
  data.js
  data.json
  docs/ansible.html
  docs/google-chrome.html
  docs/make.html
  docs/matlab.html
  docs/nginx.html
  index.html
Due: prettier --write

fix: 定时脚本的逻辑 bug
  CONTRIBUTING.md
Due: none

update: ansible.md
  docs/ansible.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md 18189760b7485761b4c77f088096b589ed676588
  data.js
  data.json
  index.html
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
