Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update docs/wails.md #973
  docs/wails.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/wails.md #973 cb3b1b89c55df248d4197330733f306b2e5bfbb9
  data.js
  data.json
  docs/wails.html
  index.html
Due: prettier --write

doc: Update docker.md
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md #102
  README.md
Due: none

doc: Update README.md #102 d243e4261b383a5fe9afac056927bfd2837c4f43
  data.js
  data.json
  index.html
Due: prettier --write

doc: update README.md
  README.md
Due: none

doc: Update README.md
  README.md
  appicon/vidwall.png
Due: none

doc: Update README.md 47c412520e8d389b37c2629ab711ba29779d98b1
  appicon/vidwall.png
  data.js
  data.json
  index.html
Due: prettier --write

add web site: note-bin.top:10443 with ipv6
  README.md
Due: none

doc: Update README.md (#975)
  README.md
Due: none

doc: kotlin.md translation fix
  docs/kotlin.md
Due: npx markdownlint-cli --fix ./docs

doc: kotlin.md translation fix (#977)
  docs/kotlin.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/swift.md
  docs/swift.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/swift.md 899d85223da72b8e481958732e179f97a036d74e
  data.js
  data.json
  docs/swift.html
  index.html
Due: prettier --write

chore: add google analytics.
  .refsrc.json
  README.md
  package.json
Due: prettier --write

docs: update docs/systemd.md
  docs/systemd.md
Due: npx markdownlint-cli --fix ./docs

docs: update docs/systemd.md (#982)
  docs/systemd.md
Due: npx markdownlint-cli --fix ./docs

Update flutter.md
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

doc: Update flutter.md (#983)
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

Update javascript.md
  docs/javascript.md
Due: npx markdownlint-cli --fix ./docs

doc: Update javascript.md (#984)
  docs/javascript.md
Due: npx markdownlint-cli --fix ./docs

doc: 优化 NGINX SSL 配置和添加基本服务器设置
  docs/nginx.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/nginx.md (#985)
  docs/nginx.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/bash.md.
  docs/bash.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/bash.md. 91ba353e23d3fa06d9e621f9d80a61f950defa89
  data.js
  data.json
  docs/bash.html
  index.html
Due: prettier --write

doc: update docs/ssh.md #980
  docs/ssh.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/ssh.md #980 ad034b476d668462d345aafa3465b60573231fcd
  data.js
  data.json
  docs/ssh.html
  index.html
Due: prettier --write

doc: Update README.md
  README.md
Due: none

doc: Update README.md 4b02ff685a8e683cf6ab93cf4e9259a517117d01
  data.js
  data.json
  index.html
Due: prettier --write
