Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

docs: refresh official references
  docs/docker-compose.md
  docs/emoji.md
  docs/fastapi.md
  docs/flutter.md
  docs/gemini-cli.md
  docs/jq.md
  docs/lessjs.md
  docs/react.md
  docs/ruby.md
  docs/scala.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 pm2 备忘清单
  README.md
  docs/pm2.md
Due: npx markdownlint-cli --fix ./docs

docs: 完善 pm2 备忘清单 (#1041)
  README.md
  docs/pm2.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/pm2.md #1041
  docs/pm2.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/pm2.md #1041 bf3f3e080d80cf0402feb01251ca887deecb1bce
  data.js
  data.json
  docs/pm2.html
  index.html
Due: prettier --write

doc: add mirror site #102. ba4552600a89f7cd250a0f2f366391d5854db1e6
  data.js
  data.json
  index.html
Due: prettier --write

doc: add mirror site #102. dcee2912271d02c454ef6b94a43998b1c0a493c0
  data.js
  data.json
  index.html
Due: prettier --write

Add Tura Chinese quick reference
  docs/tura.md
Due: npx markdownlint-cli --fix ./docs

Add Tura icon
  assets/tura.svg
Due: none

Add Tura to AI references
  README.md
Due: none

feat: add getapps.cafe sponsor banner.
  README.md
Due: none

doc: Update README.md
  README.md
Due: none

doc: Update README.md 64ce7a4cf0d67d3eb301d50bdb49012beeb9106a
  data.js
  data.json
  index.html
Due: prettier --write

docs: fix typo permision -> permission
  docs/chmod.md
Due: npx markdownlint-cli --fix ./docs

docs: fix typo permision -> permission (#1050)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/chmod.html
  index.html
Due: prettier --write

Fix typo in Thread class documentation
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

Fix typo in Thread class documentation (#1051) 372ab7be958be70ac4a78dd86d4119ed92a78bdc
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/java.html
  index.html
Due: prettier --write

新增 helm命令
  README.md
  assets/helm.svg
  docs/helm.md
Due: npx markdownlint-cli --fix ./docs

Add helm (#1052)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/helm.html
  index.html
Due: prettier --write

doc: update docs/helm.md #1052 6f382a13d72f3c4ce67f3d6f3f38f6f930d01a6c
  data.js
  data.json
  docs/helm.html
  index.html
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
