Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

add quickref.hestudio.xyz
  README.md
Due: none

add mirror
  README.md
Due: none

doc: add mirror (#199)
  CONTRIBUTORS.svg
  index.html
Due: none

feat: add htmx.md cheatsheet. ca803554776a3a7befb3b1a9cf96512efc1ce3a5
  data.js
  data.json
  docs/htmx.html
  index.html
Due: prettier --write

doc: add badges. 51c4d2a7194d2f0c8417200eeab88aa6df0cb8bb
  data.js
  data.json
  docs/electron.html
  docs/htmx.html
  docs/latex.html
  docs/lessjs.html
  docs/nextjs.html
  docs/react-native.html
  docs/react.html
  docs/sass.html
  docs/styled-components.html
  docs/stylus.html
  index.html
  style/style.css
Due: prettier --write

doc: Update Home page. b5467ec1c210103c7ec23193284b794589a4d8b4
  data.js
  data.json
  index.html
  style/style.css
Due: prettier --write

docs: add make
  README.md
  docs/make.md
Due: npx markdownlint-cli --fix ./docs

docs: add make cheatsheet (#202) #200 d75cda78f54d1c9ce06373874acf654d2c14c8d9
  data.js
  data.json
  docs/make.html
  index.html
Due: prettier --write

doc: Update typescript.md 3f191de637f0bb0d437b586aa5d7972a8d1f7171
  data.js
  data.json
  docs/react.html
  docs/typescript.html
  index.html
Due: prettier --write

doc: update typescript.md fbcd7edf7806133fdd052df179f26967ef7749ed
  data.js
  data.json
  docs/make.html
  docs/react.html
  docs/typescript.html
  index.html
Due: prettier --write

doc: update make
  docs/make.md
Due: npx markdownlint-cli --fix ./docs

Update README.md
  README.md
Due: none

change domain
  README.md
Due: none

doc: change domain (#205)
  CONTRIBUTORS.svg
  data.js
  data.json
  index.html
Due: prettier --write

doc: update make.md (#203) 55f4a35a1ad547ce08093da853693fc3a4144fc2
  data.js
  data.json
  docs/make.html
  index.html
Due: prettier --write

doc: Update README.md (#204)
  CONTRIBUTORS.svg
  index.html
Due: none

doc: update vue.md #10 add typescript example cb33da466e39acfa2401f2cd28f27aef957979be
  data.js
  data.json
  docs/vue.html
  index.html
Due: prettier --write

feat: add aspect-ratio.md cheatsheet. e57f03ce8d1f157a8d5a36b79ed6bb72cbdda33b
  data.js
  data.json
  docs/aspect-ratio.html
  index.html
Due: prettier --write

doc: update README.md #102 aa539136fc480df570a6f86155ec1525d59483c2
  index.html
Due: none

doc: Update README.md 5b649147ca540d4c1cbbd409e4d0d902d7754d17
  index.html
Due: none

doc: Update README.md #206 #102 cd599f7798c9ff7d1dfb3e7f0c0408e1c84f9dba
  docs/github-actions.html
  index.html
Due: none

docs: add makefile var
  docs/make.md
Due: npx markdownlint-cli --fix ./docs

docs: add makefile var (#207) b3d7fb1ea12f8231ce2270092a1c3f6824b633c7
  data.js
  data.json
  docs/make.html
  index.html
Due: prettier --write
