Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc(cs): update cs.md. (#314) 88d42e6ac8e7a389b9b8faeac8923b01769f82b0
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/cs.html
  index.html
Due: prettier --write

更新布尔运算说明
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

doc: docs/cs.md (#316) b1a10ee7978b60b0f03bec92f70d8180495420b0
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/cs.html
  index.html
Due: prettier --write

doc: update README.md #102 c39abea00ab0c81282045861c3c043435df82d49
  index.html
Due: none

doc: update docs/docker.md ab26411164265ffb65ec8663b55cf6eaaafc5fe6
  docs/cs.html
  index.html
Due: none

doc: update README.md #102 64b52fc1bc50403a828c19f2189efb70a07d4c9f
  index.html
Due: none

fix: 移除已不可用的镜像站
  README.md
Due: none

doc: 移除已不可用的镜像站 (#317) cb5b582b8125e1c544064474f8d4a3249675c55f
  CONTRIBUTORS.svg
  index.html
Due: none

chore: update issue template. 94bbb4f6a79f85e3e5ca1a67f5b291d833cffb94
  index.html
Due: none

feat: add Justfile. (#276) c40b0dff2f72fb85b73530f7ac73ad6067bbe727
  data.js
  data.json
  docs/justfile.html
  index.html
Due: prettier --write

doc: update java.md
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

Update kubernetes.md
  docs/kubernetes.md
Due: npx markdownlint-cli --fix ./docs

doc: update kubernetes.md (#322) 5c775c90741dc1f2c40b91ba7d0a9b8cbc875afd
  data.js
  data.json
  docs/java.html
  index.html
Due: prettier --write

doc: update docs/kubernetes.md (#322) f687d486663635d090386268219af07eb09c9111
  data.js
  data.json
  docs/java.html
  index.html
Due: prettier --write

bug fix
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/docker.md (#323) 7facfea3f9bd0252a02603e53379ec9a943e1ac8
  docs/docker.html
  index.html
Due: none

doc: update docs/css.md e3bf99b02248c2ec9c707b45a696b8587bf83561
  data.js
  data.json
  docs/css.html
  index.html
Due: prettier --write

feat: add docs/zip.md (#319) d1c8300dcf2bc8abe0b591247acbf3a1d24ef759
  data.js
  data.json
  docs/zip.html
  index.html
Due: prettier --write
