Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

Update python.md
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

add search synax for google chrome
  docs/google-chrome.md
Due: npx markdownlint-cli --fix ./docs

Adjust some translation problems
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

doc: update google-chrome.md (#298) d50673ad3f5a5011db8cdf7b007638ca9c8f4e6d
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/google-chrome.html
  index.html
Due: prettier --write

doc: update python.md (#297)
  CONTRIBUTORS.svg
  docs/python.html
  index.html
Due: none

Update rust.md (#296) 606776662d4619bd8ddd29f607066ad8c1ff65dc
  docs/rust.html
  index.html
Due: none

doc: python.md (#299)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/python.html
  index.html
Due: prettier --write

chore(deps): update dependency refs-cli to ^1.3.2 (#279) f31aab4b35c9608c83435de2ae510df2b2ff90f7
  data.js
  data.json
  docs/electron.html
  docs/expressjs.html
  docs/htmx.html
  docs/jest.html
  docs/koajs.html
  docs/lerna.html
  docs/lessjs.html
  docs/nestjs.html
  docs/nextjs.html
  docs/pm2.html
  docs/react-native.html
  docs/react.html
  docs/reactrouter.html
  docs/sass.html
  docs/styled-components.html
  docs/stylus.html
  docs/typescript.html
  docs/vue.html
  index.html
  js/main.js
Due: prettier --write

chore: delete duplicate items
  CONTRIBUTING.md
  README.md
Due: none

doc: update adb.md and homebrew.md
  docs/adb.md
  docs/homebrew.md
Due: npx markdownlint-cli --fix ./docs

doc: Update adb.md & homebrew.md and delete repeated mirror items (#304)
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/adb.html
  docs/homebrew.html
  index.html
Due: prettier --write

doc: update homebrew.md 3d1317603e020b4850071e12cee1499506a4046b
  data.js
  data.json
  docs/homebrew.html
  docs/python.html
  index.html
Due: prettier --write

released v1.36.0 b98e7d8395c5ccf676a2c2a2d7d294f379f7ce93
  index.html
Due: none

chore: update workflows config. 8f2a86457b0aee57cdfdc333e1bce5fad056fb3f
  data.js
  data.json
  index.html
Due: prettier --write

fix: typo
  docs/adb.md
Due: npx markdownlint-cli --fix ./docs

fix: typo adb.md (#306) 7c153a05791388ec7793b77cf081088c3c65e0df
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/adb.html
  index.html
Due: prettier --write

chore: update README.md #206 #102 dba2f6c1fde27b917b719fbeb660c1a58e9ab803
  CONTRIBUTORS.svg
  index.html
Due: none

Update java.md
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: Update java.md (#311)
  CONTRIBUTORS.svg
  docs/java.html
  index.html
Due: none

add bash debug info
  docs/bash.md
Due: npx markdownlint-cli --fix ./docs

doc: update bash.md (#312) 9daa435dee69e037b2115eb406c9a36e4f9a3452
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/bash.html
  index.html
Due: prettier --write

Add some additional notes
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

doc: update docker.md (#313)
  CONTRIBUTORS.svg
  docs/docker.html
  index.html
Due: none

doc(cs): about data type.
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

doc(cs): replace data type ref.
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
