Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

fix: webstorm.md (#182) f915f4c155dab48115cd63c10bfe1ed494d43f3f
  docs/webstorm.html
  index.html
Due: none

bug: fix about github action
  .github/workflows/ci.yml
  .github/workflows/win.yml
Due: none

doc: update github-action.md (#184) a41ec2693efed47a97085c38e7285da5110e40f6
  CONTRIBUTORS.svg
  index.html
Due: none

doc: update cocoapods.md 9562c3487689b2f34f40495df8c5f4bae40ed970
  docs/cocoapods.html
  index.html
Due: none

doc: update typescript about satisfies ...
  docs/typescript.md
Due: npx markdownlint-cli --fix ./docs

doc: update typescript.md (#186) c514341b291bf0e7851ecef89e9d12bcee345995
  data.js
  data.json
  docs/typescript.html
  index.html
Due: prettier --write

feat: add react-native.md cheatsheet. b9ca744978af40bc1461589c601b08765483cc77
  data.js
  data.json
  docs/react-native.html
  index.html
  style/style.css
Due: prettier --write

doc: Update README.md 396037f90a3d799da8a13680e815caa730df991d
  data.js
  data.json
  index.html
Due: prettier --write

doc: update react-native.md cb64b52cdab6c5f5b2081e5230eb8cf0a7dca7e5
  data.js
  data.json
  docs/react-native.html
  index.html
Due: prettier --write

doc: update quickreference.md #189 5877c04e575cd5def21812e96ea5dbd43421f3e1
  data.js
  data.json
  docs/quickreference.html
  index.html
Due: prettier --write

doc: update quickreference.md. bf114d2ccf85a45ef34e135b084983beaa707701
  docs/quickreference.html
  index.html
Due: none

released v1.29.0 e251179751cb4819809e5a94e354a7d997338c5e
  index.html
Due: none

doc: Update READMe.md #102 44711bf9a131d1f1032aefc1f1781196e33607a9
  index.html
Due: none

feat: add pm2.md cheatsheet. 93e23d581f56338d4337f074f60f9e4414e5bd62
  data.js
  data.json
  docs/pm2.html
  index.html
Due: prettier --write

feat: add adobe-photoshop.md cheatsheet. 746a38700571857cbaa3dbb88e121b4b7a210001
  CONTRIBUTORS.svg
  data.js
  data.json
  docs/adobe-photoshop.html
  docs/github-actions.html
  index.html
  style/style.css
Due: prettier --write

feat: add android-studio.md cheatsheet. 7e263a21e777da4525f8f8d5a77f52d7a9cdbb04
  data.js
  data.json
  docs/android-studio.html
  index.html
Due: prettier --write

feat: add github.md cheatsheet. 501c7d757e40ed5919fdb9b59f8d512397071121
  data.js
  data.json
  docs/github.html
  index.html
Due: prettier --write

feat: add google-chrome.md cheatsheet. 64a2fba9035f97cddc68068fe4a4afe372f82dc9
  data.js
  data.json
  docs/android-studio.html
  docs/github.html
  docs/google-chrome.html
  docs/sublime-text.html
  index.html
Due: prettier --write

doc: Update README.md 0a5373796d97d5daa74502420484aa3ee29fc1e5
  index.html
Due: none

feat: add gitlab.md cheatsheet. 10a4fe3f5bd658d23a730b5431f2b4ba5ddea460
  data.js
  data.json
  docs/github.html
  docs/gitlab.html
  index.html
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
