Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

feat:增加java多线程相关
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/pacman.md (#357) fa15c327176b4e84526d79d8e5169cc25ed509b8
  data.js
  data.json
  docs/pacman.html
  index.html
Due: prettier --write

update: add golang generic
  docs/golang.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md 60380ceaa4c9fe29302b172ea4e0d17f7c80a6e2
  index.html
Due: none

doc: Update README.md (#102) c65ba9df212c82ac7f521d1682517a469fb3efc1
  index.html
Due: none

doc: Update README.md #102 6f45968e1a50c1eb28ed4e2a8bf2d166091aa201
  index.html
Due: none

Update cs.md
  docs/cs.md
Due: npx markdownlint-cli --fix ./docs

Update README.md
  README.md
Due: none

doc: Update README.md (#371) (#102)
  index.html
Due: none

Update kubernetes.md change label 语法
  docs/kubernetes.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md 0bc4e3b09efae8f3b7963fc6742d8731663e8a3e
  index.html
Due: none

doc: Update README.md (#102) 9acf9ae5a36f368ce961990b913e62d98d3d3961
  index.html
Due: none

doc: Update README.md e218c7ec86523f19f7d3c7d00555a41b4e72ca8a
  index.html
Due: none

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
