Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

doc: update docs/mysql.md fixed #827 2bac216f98865bff3361cf3ec390ca01d0145131
  data.js
  data.json
  docs/mysql.html
  index.html
Due: prettier --write

doc: update docs/symbol-code.md fixed #823
  docs/symbol-code.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/symbol-code.md fixed #823 f5492443893a677f8f04f5844099e09ef272fbca
  data.js
  data.json
  docs/symbol-code.html
  index.html
Due: prettier --write

doc: Update README.md #102
  README.md
Due: none

doc: Update README.md #102 f510d354af5ab24b3899aeb1a6b4b763db117181
  data.js
  data.json
  index.html
Due: prettier --write

doc:update docs/flutter.md
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/flutter.md (#828)
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/flutter.md (#828) 77b2c7a13333ddfc7d67cb11c6124ac5ef41564a
  data.js
  data.json
  docs/flutter.html
  index.html
Due: prettier --write

docs:update docs/flutter.md
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

docs:update /docs/flutter.md (#830)
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/vim.md
  docs/vim.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/flutter.md #830
  docs/flutter.md
Due: npx markdownlint-cli --fix ./docs

docs:update vue.md & flutter.md
  docs/flutter.md
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

docs: update vue.md (#832)
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

chore(deps): update dependency refs-cli to v^1.6.0
  docs/quickreference.md
  docs/vim.md
  package.json
Due: prettier --write, npx markdownlint-cli --fix ./docs

doc: update docs/vue.md #832
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

Update ffmpeg audio parameters
  docs/ffmpeg.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/ffmpeg.md (#835)
  docs/ffmpeg.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/css.md
  docs/css.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/css.md a69be1efba6daacbe2b110b004bd9cb9cba33adf
  data.js
  data.json
  docs/css.html
  index.html
Due: prettier --write

doc: update docs/nginx.md
  docs/nginx.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/nginx.md (#836)
  docs/nginx.md
Due: npx markdownlint-cli --fix ./docs

doc: update linux-command.md
  docs/linux-command.md
Due: npx markdownlint-cli --fix ./docs

增加代理构建
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

删除上次提交多余
  docs/nginx.md
Due: npx markdownlint-cli --fix ./docs

doc: update docker.md & linux-command.md & nginx.md (#838)
  docs/docker.md
  docs/linux-command.md
  docs/nginx.md
Due: npx markdownlint-cli --fix ./docs

Update docker.md
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

doc: update docker.md (#839)
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs
