Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

feat: add firefox.md cheatsheet. 2bd72b4c05ad4ee97037bac6c9e1abcb8d37da75
  data.js
  data.json
  docs/firefox.html
  index.html
Due: prettier --write

chore: update workflows config. f21715f17239ca6eefb47df00fd74e3d12f90139
  README.md
  index.html
Due: none

released v1.30.0 63e5cd5109dc96d1bb268bd65311efcf54847773
  index.html
Due: none

feat: add redis.md cheatsheet.
  docs/redis.md
Due: npx markdownlint-cli --fix ./docs

feat: add a redis.md cheatsheet.
  assets/redis.svg
Due: none

feat: add redis.md cheatsheet. (#191)
  data.js
  data.json
  docs/redis.html
  index.html
Due: prettier --write

doc: Add quickref.pipecraft.net to the home page. #102 d1c0ded4f71681d171200e2416a8aa945b9315fa
  CONTRIBUTORS.svg
  data.js
  data.json
  index.html
Due: prettier --write

doc: update redis.md #191 b117f3eab7a04079d4dbe3cfbbf7cb8846293002
  data.js
  data.json
  docs/redis.html
  index.html
Due: prettier --write

doc: update redis.md #191 0e9d9ac16d8e334efd851a6317bf45e68d4ba473
  data.js
  data.json
  docs/redis.html
  index.html
Due: prettier --write

doc: update react-native.md b390eaca5910c14f594096b0173103e6e9da120a
  data.js
  data.json
  docs/react-native.html
  index.html
Due: prettier --write

feat: add adobe-lightroom.md cheatsheet. 1c0bb6a9a54dac5decbe1b68d8425622d3cd0f80
  data.js
  data.json
  docs/adobe-lightroom.html
  docs/adobe-photoshop.html
  index.html
Due: prettier --write

feat: add adobe-xd.md cheatsheet. f778b3c28eb1ae5d4b7f90ad612a1c1d924d108c
  data.js
  data.json
  docs/adobe-xd.html
  index.html
Due: prettier --write

doc: Update README.md 36b984bb21d7911d470ece2a7b96b9076ef0b3b8
  index.html
Due: none

doc: Update README.md fadc13ae70769d3198c1dbb1acc465fde8c19673
  index.html
Due: none

doc: update README.md 5910a3f924350694f926679e3e2f47f0a164443c
  index.html
Due: none

docs: update rust range
  docs/rust.md
Due: npx markdownlint-cli --fix ./docs

update
  docs/rust.md
Due: npx markdownlint-cli --fix ./docs

docs: update rust range (#194)
  data.js
  data.json
  docs/rust.html
  index.html
Due: prettier --write

feat: add iptables cheatsheet. #192 f00a647c3e58ce55196482b4083e600b95879669
  data.js
  data.json
  docs/iptables.html
  index.html
Due: prettier --write

add quickref.hestudio.xyz
  README.md
Due: none

doc: add mirror
  README.md
Due: none

doc: add mirror (#197) b58db5cc5834bc497ca0358708a716c2bc826bed
  CONTRIBUTORS.svg
  index.html
Due: none
