Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

chore: Update .gitattributes ee1c50166cdcb07c0e031b818821b1dbdc9c0117
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 6a9c656af6f3987b942ab8b4de255b00f128847a
  data.js
  data.json
  index.html
Due: prettier --write

chore: Update .gitattributes 50526ab7a4d702a85db771d5e44b2638a6391d77
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 4dfb3c8e9fbd610c4c4f13c439fac653dc7c3335
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md #102 cff4119203929fccb4eb3fea5adffb402b880313
  data.js
  data.json
  index.html
Due: prettier --write

chore: Update .gitattributes ee97d75160ef01c3895de0039c2bc6b12d108fb9
  data.js
  data.json
  index.html
Due: prettier --write

Update swift.md
  docs/swift.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/swift.md (#550) 57d42b29ba051d2b9ea824a2e06decba7e5a0ca6
  data.js
  data.json
  docs/swift.html
  index.html
Due: prettier --write

add squeeze & unsqueeze for pytorch
  docs/pytorch.md
Due: npx markdownlint-cli --fix ./docs

Update README.md
  README.md
Due: none

fix issue
  docs/swift.md
Due: npx markdownlint-cli --fix ./docs

add extension
  docs/swift.md
Due: npx markdownlint-cli --fix ./docs

update
  docs/swift.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/swift.md (#558)
  data.js
  data.json
  docs/swift.html
  index.html
Due: prettier --write

Update r.md
  docs/r.md
Due: npx markdownlint-cli --fix ./docs

Add SwiftData for SwiftUI
  docs/swiftui.md
Due: npx markdownlint-cli --fix ./docs

doc: Update README.md a15bd68a5997e4646956c594afd2ee3032686832
  data.js
  data.json
  index.html
Due: prettier --write

[python.md] Add Steps for adding pipenv to system path
  docs/python.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
