Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["npx markdownlint-cli --fix ./docs"]
}

docs(ansible): update ansible.md (#121) 32f09fdf5d61cfa2de536aad3c0b68357daf249e
  CONTRIBUTORS.svg
  docs/ansible.html
  index.html
Due: none

v-for和v-if不推荐一起使用
  docs/vue2.md
Due: npx markdownlint-cli --fix ./docs

fix: 和[Attribute 绑定]的部分重叠了
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

doc: upate vue2.md (#122)
  CONTRIBUTORS.svg
  docs/vue2.html
  index.html
Due: none

doc: update vue2.md #122 62b0077745b99909db7a748249d3b81f64f38db5
  docs/vue2.html
  index.html
Due: none

doc: 新增自定义指令
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

doc: update vue.md (#123)
  CONTRIBUTORS.svg
  data.json
  docs/vue.html
  index.html
Due: prettier --write

doc: 新增[响应式样式]
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

docs: [入门]部分改为vue3写法
  docs/index.html
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

docs: 新增获取事件对象相关内容
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

fix: 删除多余文件
  docs/index.html
Due: none

doc: update vue.md (#125)
  CONTRIBUTORS.svg
  data.json
  docs/vue.html
  index.html
Due: prettier --write

doc: update vue.md #125 37d647eb6743d01d3ec22b63a0ab0d7d6b7d9a17
  docs/vue.html
  index.html
Due: none

docs: 新增[组件通信]相关内容
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

doc: update vue.md (#126)
  data.json
  docs/vue.html
  index.html
Due: prettier --write

fix: footer timezone bug
  scripts/nodes/footer.mjs
Due: prettier --write

增加cmd备忘清单
  README.md
  docs/cmd.md
  scripts/assets/cmd.svg
Due: npx markdownlint-cli --fix ./docs

feat: add cmd.md (#128) 3846b515b5488011035c31593f0b716f7662b61d
  data.json
  docs/cmd.html
  index.html
Due: prettier --write

website: fix footer timezone bug (#127) e060d268158ae570d1b2a80e1c0c88f3ba4713b6
  index.html
Due: none

doc: update cmd.md. #128 fe436e287bde7f9ba105e1c25a1ef54abc8673e5
  data.json
  docs/cmd.html
  index.html
Due: prettier --write

docs: add conventional-commits
  README.md
  docs/conventional-commits.md
Due: npx markdownlint-cli --fix ./docs

命令模块新增apt命令
  README.md
  docs/apt.md
Due: npx markdownlint-cli --fix ./docs

docs: rename section
  docs/conventional-commits.md
Due: npx markdownlint-cli --fix ./docs

更改标签颜色为蓝色
  README.md
Due: none

docs: wath--->watch
  docs/vue.md
Due: npx markdownlint-cli --fix ./docs

doc: update css.md
  docs/css.md
Due: npx markdownlint-cli --fix ./docs

feat: add apt.md (#131) 1ddbc5b984c867fbe4c8cb7e49ab2d111731065f
  CONTRIBUTORS.svg
  data.json
  docs/apt.html
  index.html
Due: prettier --write
