Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

docker环境
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

删除环境变量
  .github/workflows/ci.yml
Due: none

环境变量修改
  .github/workflows/ci.yml
Due: none

update: 更新配置
  .github/workflows/update-ref.yml
Due: none

update: 更新部署
  .github/workflows/update-ref.yml
Due: none

Add GitHub Copilot documentation
  .dockerignore
  README.md
  assets/github-copilot.svg
  docs/github-copilot.md
Due: npx markdownlint-cli --fix ./docs

Add inline chat useful instruction
  docs/github-copilot.md
Due: npx markdownlint-cli --fix ./docs

ci: update workflows config. 108c8005d4ae401445688b588e285e2a3121b592
  data.js
  data.json
  index.html
Due: prettier --write

chore: update .dockerignore 6b737583eeeed43ddffab6fa528b3be50b16fc0d
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update docs/javascript.md 3a8b1a2cd788cfe429795e0beae7a7e77f6adcd6
  data.js
  data.json
  docs/javascript.html
  index.html
Due: prettier --write

chore(deps): update dependency prettier to v3 (#390)
  data.js
  data.json
  index.html
Due: prettier --write

Update docker.md
  docs/docker.md
Due: npx markdownlint-cli --fix ./docs

tar.md更改错别字
  docs/tar.md
Due: npx markdownlint-cli --fix ./docs

fix: kotlin 方法默认参数指定其类型；
  docs/kotlin.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/kotlin.md (#482)
  data.js
  data.json
  docs/kotlin.html
  index.html
Due: prettier --write

Update README.md
  README.md
Due: none

Delete .github/workflows/win.yml
  .github/workflows/win.yml
Due: none

Update linux-command.md
  docs/linux-command.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
