Repository jaywcjlove/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx markdownlint-cli --fix ./docs

update: 更新thinkphp
  docs/thinkphp.md
Due: npx markdownlint-cli --fix ./docs

doc: add docs/twitter.md b5f9d14ab1a980362f5e193cfef35fe61b71843f
  data.js
  data.json
  docs/twitter.html
  index.html
Due: prettier --write

doc: update docs/twitter.md 822af71d7f193b87798d7b4bb586607be2c68159
  data.js
  data.json
  docs/twitter.html
  index.html
Due: prettier --write

数据结构和开发技巧以及C++面试知识点
  docs/cpp.md
Due: npx markdownlint-cli --fix ./docs

doc: update CONTRIBUTING.md 278ebee2c01eb088eea47c9478ac8fd72e0a6230
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md (#102) 626b7ec961cdbe8ff394f95b1d30d1e692b73749
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md d8427d22a9ece13dd64f440e85866a91cb963493
  data.js
  data.json
  index.html
Due: prettier --write

doc: Update README.md 7f0709f50227771717ae339140e292fb700a1e83
  data.js
  data.json
  index.html
Due: prettier --write

fix(typo): fix typo of android paths
  docs/adb.md
Due: npx markdownlint-cli --fix ./docs

doc: update docs/adb.md (#590) c343cb35875e11515747d786b62feb605db98013
  data.js
  data.json
  docs/adb.html
  index.html
Due: prettier --write

doc: update docs/fastapi.md 2b6b58d7fb01208e30ef62d0d0de60accefb1aa6
  data.js
  data.json
  docs/fastapi.html
  index.html
Due: prettier --write

docs: update docs/java.md.
  docs/java.md
Due: npx markdownlint-cli --fix ./docs

docs: update docs/java.md. (#601) 1b9437656d631e5c61c3460b446006c5cca1fa54
  data.js
  data.json
  docs/java.html
  index.html
Due: prettier --write

doc: Update README.md 00cc7f73303fde845c2d121332bd5e05db11c57a
  data.js
  data.json
  index.html
Due: prettier --write

Update README.md
  README.md
Due: none

Update r.md
  docs/r.md
Due: npx markdownlint-cli --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  npx markdownlint-cli --fix ./docs: any of: ./docs/*.md
